﻿@model CaparKurye.Services

@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Areas/Admin/Content/ckeditor/ckeditor.js")
<script>
    $(function () {
        CKEDITOR.replace('description');
    });
    $(window).load(function () {
        $("#tur").val("@Model.type.ToString().Trim()");
        serviceChange();
    });
    function serviceChange() {
        var data = $("#tur").val();
        if (data == "Imzalı" || data == "Teklif") {
            $("#fiyat").attr("disabled", "disabled").val("");
        }
        else {
            $("#fiyat").removeAttr("disabled", "disabled");
        }
    }
</script>





<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-university" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.serviceID)

                <div class="form-group">
                    @Html.LabelFor(model => model.order, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.serviceName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.serviceName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.serviceName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.description, new { rows = 8, columns = 40, @class = "form-control", @id = "description" })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <select class="form-control" name="type" onchange="serviceChange()" id="tur">
                            <option value="Fiyat">Ek Hizmet Bedeli</option>
                            <option value="Imzalı">İmzalı Gönderim</option>
                            <option value="Teklif">Teklif İste</option>
                        </select>

                        @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.cost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control", @id = "fiyat" } })
                        @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <div class="form-group pull-left">
                        <input type="submit" value="Güncelle" class="btn btn-success" />
                    </div>
                </div>

            }
            <div class="col-xs-6 col-md-4">
                <div class="form-group pull-right">
                    <div style="display:inline-block">
                        @using (Html.BeginForm("Delete", "Services", new { id = Model.serviceID }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Sil" class="btn btn-danger" />
                        }
                    </div>
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>

    </div>
</div>



