﻿@model IEnumerable<CaparKurye.Services>

@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-university" aria-hidden="true"></i> @ViewBag.Title</h4>
        <div class="col-xs-12 col-sm-12">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.order)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.serviceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cost)
                    </th>
                    <th>
                        @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                        {
                            @Html.ActionLink("Yeni Ekle", "Create", new { }, new { @class = "btn btn-primary btn-xs pull-right" })
                        }
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.serviceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cost)
                        </td>
                        <td class="text-right">

                            @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                {
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.serviceID }, new { @class = "btn btn-warning btn-xs" })
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>




