﻿@model CaparKurye.Page

@{
    ViewBag.Title = "Sayfalar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-file-o" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="col-xs-12">

            <dl class="dl-horizontal">
                <dt>
                    Resim
                </dt>

                <dd>
                    <img src="@Url.Content("~/public/UploadedFiles/")@Html.DisplayFor(model => model.Pictures.name)" style="max-width:500px; width:100%;"/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pageName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pageName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.content)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.content)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>

                <dd>
                    @Html.Raw(@Model.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.keywords)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.keywords)
                </dd>
            </dl>

            <div class="form-group pull-left">@Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })</div>

            @if (Session["adminType"].ToString() == "Admin")
            {
                <div class="form-group pull-right">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.pageID }, new { @class = "btn btn-primary" })
                </div>
            }

        </div>

    </div>
</div>


