﻿@model IEnumerable<CaparKurye.Page>

@{
    ViewBag.Title = "Sayfalar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-file-o" aria-hidden="true"></i> @ViewBag.Title</h4>
        <div class="col-xs-12 col-sm-12">

            <table class="table">
                <tr>
                    <th>
                        Resim
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.subtitle)
                    </th>
                    <th>
                        @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                        {
                            @Html.ActionLink("Yeni Ekle", "Create", new { }, new { @class = "btn btn-primary btn-xs pull-right" })
                        }
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <img style="height:50px;width:50px;" src="@Url.Content("~/public/UploadedFiles/")@Html.DisplayFor(modelItem => item.Pictures.name)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.subtitle)
                        </td>

                        <td class="text-right">

                            @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                {
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.pageID }, new { @class = "btn btn-warning btn-xs" })
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

