﻿body{font-family: 'Roboto', sans-serif; overflow: hidden; background-color:#ecf0f5;}

.form-control{max-width:100%; min-width: 100%;}
.input-group-addon{background-color:#f7f8fb;}
label{font-weight: normal; font-size: 16px}
.table-responsive{max-height: calc(100vh - 210px); overflow-y:auto!important;}
.table tfoot{font-size: 16px;}

.passwordbar{width: 100%; height:6px; display:inline-block; border: solid 1px #fff; background-color:#ddd; border-radius: 3px; margin-top: -5px;}
.passwordbar>span{width:0%; background-color:#ddd; height:100%; transition:0.6s; display: inline-block;}
.passwordbar .easy{width:25%; background-color:#d9534f; transition:0.6s;}
.passwordbar .normal{width:65%; background-color:#f7c307; transition:0.6s;}
.passwordbar .secure{width:100%; background-color:#32c172; transition:0.6s;}

.bar-container h5{margin:5px 0px;}
.bar-container h5 small{float: right; padding: 5px;}

*::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); background-color: #F5F5F5; }
*::-webkit-scrollbar { width: 5px; height: 5px; background-color: #F5F5F5; }
*::-webkit-scrollbar-thumb { background-color: #000000; }

header{ background: #337ab7; width: 100%; color:#fff; height:60px; display: inline-block; float: left; }
header .nav{ display: inline-block; height:60px; padding: 20px; font-size: 20px;}
header .nav:hover{background-color:#468ac5; cursor: pointer;}
header .menu{ height:60px; float: left; font-size: 20px; padding: 20px; }
header .menu:hover{background-color:#468ac5; cursor: pointer;}
header a{color:#fff!important;}
header .logout{ height:60px; float: left; font-size: 20px; padding: 20px; background-color: #2e6da4;}
header .logout:hover{background-color:#468ac5; cursor: pointer;}

.left-menu{ color: #fff; background:#222d33; height:100vh; width:250px; float: left; transition:width 0.5s; overflow: hidden; z-index:99;}

body.active .left-menu{width:0px; transition:width 0.5s;}
body.active .body{  width:100%; transition:width 0.5s;}

.left-menu .logo{ background:#2e6da4;width:250px; height: 60px; float: left; min-width:250px; color:#fff; text-decoration: none; padding: 10px; text-align: center; font-size: 18px; font-weight: bold;  user-select:none; }
.left-menu .logo small{display: inline-block; width: 100%; font-size: 12px; font-weight: normal;}

.left-menu .menu{ float: left; min-width:250px; list-style: none; padding: 0px; display: inline-block; height: calc(100vh - 60px); overflow: auto;}
.left-menu .menu a{width: 100%; color:#fff; padding:10px; display: inline-block; text-decoration: none;transition:padding-left 0.5s;}
.left-menu .menu a:hover{background-color: #1b2125; padding-left:20px; transition:padding-left 0.5s;}
.left-menu .menu a .fa{margin-right:10px;}
.left-menu .menu a .caret{float: right; margin:7px;}
.left-menu .menu li ul{padding-left:17px;  list-style: none; display: none;}
.left-menu .menu li ul li{position: relative;}
.left-menu .menu li ul a{ border-left:solid 1px #ddd;}
.left-menu .menu li ul a:before{content:"";     background: #ddd;    position: absolute;    top: 16px;    left: -3px;    width: 7px;    height: 7px;    border-radius: 100%;}


.content{ height:100%; width: 100%; display: inline-block; overflow:auto; animation:fadeIn 1s;}

.body{ height:calc(100vh - 60px); width: calc(100% - 250px); float: left; transition:width 0.5s;}
.body .content .bar{width: 100%; background-color: #ecf0f5; height:6px; overflow: hidden; margin-bottom: 15px;}
.body .content .bar>span{width:100%; background-color:#c0cad6; height: 100%; animation:slideInLeft 2s; display: inline-block;}
.body .content .page{border: solid 1px #c0cad6; background-color:#fff; margin-bottom: 15px; display: inline-block; width: 100%;}


.title{margin-top:0px; padding:10px; border-bottom:solid 1px #ddd;}
.title i{border-right: solid 1px #ddd; padding: 10px; margin: -10px;}
.title .fa{margin-right: 5px;}


.accordion{ margin: 10px; border: solid 1px #ddd;}
.accordion dt{cursor: pointer; font-weight: normal; background: #f5f6f9; width: 100%; display: inline-block; padding: 10px; font-size:16px}
.accordion dt .caret{float: right; margin-top:7px; }
.accordion dd{display: none; border-top: solid 1px #ddd; padding: 10px;}


.table-responsive{ margin:5px 0px 15px 0px;}
.table{margin:0px; color:#666666}
.table thead{background-color: #fff; font-size: 16px; font-family: inherit; font-weight: 500; color:#333;}
.table tbody tr td{padding:10px;}
.table tbody tr:nth-child(odd){background-color:#fbfbfb;}
.table tbody tr:nth-child(even){background-color:#fff;}
.table tbody tr:hover{background-color:#f1f1f3;}
.table .fa-check-circle{color:#337ab7;font-size: 20px;}
.table .fa-times-circle{color:#ff615d;font-size: 20px;}
.table .fa-exclamation-circle{color:#fcba41;font-size: 20px;}


.login{ overflow: visible; padding: 15px; }
.background {
  background-color: #1D2B64;
  background-image: -webkit-linear-gradient(left, #337ab7, #9bcfe8);
  background-image: linear-gradient(to right,#337ab7, #9bcfe8);
}

.panel{ animation: flipInY 1s; -webkit-animation: flipInY 1s; -o-animation: flipInY 1s; -moz-animation: flipInY 1s; margin:10vh auto; max-width: 300px; width:100%; padding:30px; box-shadow:0px 0px 0px 7px rgba(0, 0, 0, 0.05); position: relative; border-radius: 20% 0px;}
.panel h3{text-align: center; margin-top: 0px; color:#5b97c2; user-select: none; cursor: default;}
.panel .btn{margin-bottom:-10px;}

.alertbox{min-height:100px;text-align: center; font-size: 30px;}
.alertbox small{ font-size:12px;}
.boxbar{border:solid 1px #ddd; width: 100%; padding:15px 20px; display: inline-block; margin: 0px; margin-bottom: 15px; background-color:#fff; font-size: 20px;}
.boxbar small{float: right; padding: 5px;}

.date{margin: -5px}
.date>span{border-radius: 0px; display: inline-block; max-width:140px;}
.date>span>input{border:none; box-shadow:none!important; -webkit-box-shadow:none!important; border-left:solid 1px #ddd; border-radius:0px;}

.title .select{border-radius: 0px; float: right;  max-width:140px; min-width:50px; margin:-7px -2px; border:none; box-shadow:none!important; -webkit-box-shadow:none!important; border-radius:0px;}

.search{margin: -5px}
.search>span{border-radius: 0px; display: inline-block; max-width:170px;}
.search>span>input{border:none; box-shadow:none!important; -webkit-box-shadow:none!important; border-left:solid 1px #ddd; border-radius:0px;}

@media screen and (max-width: 740px) {
 body.active .left-menu{width:250px; transition:width 0.5s;}
 body .left-menu .logo{display: none;}
 body.active .body{ width: 100%; transition:width 0.5s;}
 body .left-menu{width:0px; transition:width 0.5s;position: absolute;top: 60px;left: 0px;}
 body .body{ width:100%; transition:width 0.5s;}
 .date{     width: calc(100% + 20px);
    float: initial!important;
    margin: -10px;
    margin-top: 9px;
    border-top: solid 1px #ddd;
    display: inline-block;
    text-align: center;	}
 .date>span{max-width:49%;}
 .date input{border:none!important;}

 .title .select {
    margin: 0px;
    margin-top: 10px;
    max-width: 100%;
    border: solid 1px #eee;
    float: inherit;}

 .search{width: calc(100% + 20px);
    float: initial!important;
    margin: -10px;
    margin-top: 9px;
    border-top: solid 1px #ddd;
    display: inline-block;
    text-align: center;	}
 .search>span{max-width:100%; }
 .search input{border: none; border-right:solid 1px #ddd;}
 .search div{border: none;}
}