﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--/////|  KAYIT OL SAYFASI  |/////-->
@Scripts.Render("~/public/js/formControl.js")
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">

    $(function () {
        function formatDate(date) {

            var day = date.getDate();
            var monthIndex = date.getMonth() + 1;
            var year = date.getFullYear();
            var hour = date.getHours();
            var minute = date.getMinutes();

            return day + '/' + monthIndex + '/' + year + ' ' + hour + ':' + minute;
        }
        passwordbar();
    });

        function passwordbar() {
            var password = $("#password").val().trim();
            var passwordbar = $(".passwordbar>span");
            var level = 3;

            if (password != "") {

                if (password.length < 6) {
                    level--;
                }

                if (!password.match(/[^0-9]/g)) {
                    level--;
                }

                if (!password.match(/[^a-zA-Z ğüşıöçĞÜŞİÖÇ.,]/g)) {
                    level--;
                }
                if (level <= 0) { passwordbar.removeClass(); }
                if (level == 1) { passwordbar.removeClass().addClass("easy"); }
                if (level == 2) { passwordbar.removeClass().addClass("normal"); }
                if (level == 3) { passwordbar.removeClass().addClass("secure"); }
            }
            else {
                passwordbar.removeClass();
            }

        }

    function registerType(e) {
        var data = $(e).val();

        $(".registertype").hide();

        if (data == "corporate")
            $(".corporate").show();

        if (data == "individual")
            $(".individual").show();
    }


    function registerForm() {
        if (formControl("#registerContainer")) {

            // Success

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "Users", null, Request.Url.Scheme)",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: $("#registerContainer").serialize(),
                    success: function (d) {
                        if (d.code == 200) {
                            alertBox(d.message, false);
                            $("#register").prop("disabled","disabled");
                            setInterval(function () { location.href=d.url }, 3000);
                        } else {
                            alertBox(d.message, true);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
            });

        }
        else {
            alertBox("Lütfen işaretli alanları doldurunuz.");
        }
    }

    function alertBox(text, bool = true) {
        var box = (bool == true) ? $("#alertBox") : $("#successBox");
        (bool == false) ? $("#alertBox").hide() : $("#successBox").hide();
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 60 }, 500);
        }
    }

</script>

<div class="page">

    <div class="box register">
        <div>
            <div class="title text-center">KAYIT OL</div>

            <form class="formtable" id="registerContainer">
                @if (TempData["Message"] != null)
                {
                    <div id="alertBox" class="alert alert-danger" role="alert">@TempData["Message"]</div>
                }
                <div id="alertBox" class="alert alert-danger" style="display:none;" role="alert"></div>
                <div id="successBox" class="alert alert-success" style="display:none;" role="alert"></div>
                <div class="form-group">
                    <label>Üyelik Tipi</label>
                    <select class="form-control selectpicker" title="Seçim Yapınız" name="type" onchange="registerType(this)">
                        <option value="individual" selected="selected">Bireysel</option>
                        <option value="corporate">Kurumsal</option>
                    </select>
                </div>

                <!-- Bireysel -->
                <div class="form-group registertype individual required"><label>TC Kimlik Numarası</label><input type="text" name="TCNumber" class="form-control numberControl" maxlength="11" /></div>
                <!-- Bireysel -->
                <!-- Kurumsal -->
                <div class="corporate registertype" style="display: none;">
                    <div class="form-group required"><label>Vergi Dairesi</label><input type="text" name="taxAdministration" class="form-control" maxlength="50"/></div>
                    <div class="form-group required"><label>Vergi No</label><input type="tel" name="taxNumber" class="form-control numberControl" maxlength="50" /></div>
                    <div class="form-group required"><label>Yetkili Ad ve Soyad</label><input name="authorizedNameSurname" type="text" class="form-control" maxlength="50" /></div>
                    <div class="form-group required"><label>Firma Adresi</label><textarea name="companyAddress" class="form-control" style="max-height:60px;min-height:60px"></textarea></div>
                </div>
                <!-- Kurumsal -->

                <div class="form-group required"><label>Ad ve Soyad</label><input type="text" name="nameSurname" class="form-control" maxlength="50"/></div>
                <div class="form-group required"><label>Telefon Numarası</label><input type="tel" name="phone" class="form-control numberControl" maxlength="11" /></div>
                <div class="form-group required emailControl"><label>E-posta Adresi</label><input type="email" name="email" class="form-control" maxlength="100"/></div>
                <div class="form-group required">
                    <label>Şifre</label>
                    <input type="password" maxlength="50" class="form-control" id="password" name="password" onkeypress="passwordbar()" onblur="passwordbar()" />
                    <div class="passwordbar">
                        <span></span>
                    </div>
                </div>

                <div class="form-group"><div class="g-recaptcha" data-sitekey="6LfTbj8UAAAAAH2yTZ73DVWh3yM3aPmE7eec1Kf5"></div></div>

                <div class="form-group requiredText">
                    <div class="slideThree"><input type="checkbox" id="contractCheck"><label for="contractCheck"></label></div>
                    <span><a href="#" data-toggle="modal" data-target="#contract" style="color:#fff">Hizmet sözleşmesini</a> okudum onaylıyorum.</span>
                </div>

                <div class="pull-right"><div class="form-group"><span id="register" class="btn yellow-btn" onclick="registerForm()">Kayıt Ol</span></div></div>
            </form>
        </div>

    </div>

</div> 


<!-- Modal -->
<div class="modal fade" id="contract" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Hizmet Sözleşmesi</h4>
            </div>
            <div class="modal-body scroll">
                @Html.Raw(@ViewBag.ServiceAgreement)
            </div>
        </div>
    </div>
</div>


<!--/////|  KAYIT OL SAYFASI  |/////-->

