﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--/////|  ŞİFREMİ UNUTTUM SAYFASI  |/////-->


<script src='https://www.google.com/recaptcha/api.js'></script>
@Scripts.Render("~/public/js/formControl.js")
<script type="text/javascript">
	function forgotForm(){
			if (formControl("#forgotContainer")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ForgotPassword", "Users", null, Request.Url.Scheme)",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { email: $("#email").val(), 'g-recaptcha-response': $("#g-recaptcha-response").val()},
                    success: function (d) {
                        if (d.code == 200) {
                            alertBox(d.message, false);
                            setInterval(function () { location.href = d.url }, 1500);
                        } else {
                            alertBox(d.message, true);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                });

			} else {
				alertBox("Lütfen işaretli alanları doldurunuz.");
			}
	}

    function alertBox(text, bool = true) {
        var box = (bool == true) ? $("#alertBox") : $("#successBox");
        (bool == false) ? $("#alertBox").hide() : $("#successBox").hide();
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 60 }, 500);
        }
    }
</script>

<div class="page">
    <div class="box login" style="background-image:url(@Url.Content("~/public/UploadedFiles/forgot-bg.jpg"))">
        <div>
            <div class="title text-center">ŞİFREMİ UNUTTUM?<br><small>E-posta adresinize şifrenizi sıfırlamak için bir mail gönderilecektir.</small></div>
            <div class="formtable" id="forgotContainer">
                <div id="alertBox" class="alert alert-danger" style="display:none;" role="alert"></div>
                <div id="successBox" class="alert alert-success" style="display:none;" role="alert"></div>
                <div class="form-group required emailControl"><label>E-posta Adresi</label><input id="email" type="email" class="form-control" /></div>
                <div class="form-group"><div class="g-recaptcha" data-sitekey="6LfTbj8UAAAAAH2yTZ73DVWh3yM3aPmE7eec1Kf5"></div></div>
                <div class="pull-right"><div class="form-group"><div class="btn blue-btn" onclick="forgotForm()">Gönder</div></div></div>
            </div>
        </div>
    </div>
</div>


<!--/////|  ŞİFREMİ UNUTTUM SAYFASI  |/////-->
