﻿@model IEnumerable<CaparKurye.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taxAdministration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taxNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authorizedNameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taxAdministration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorizedNameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
