﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--/////|  GİRİŞ SAYFASI  |/////-->


<div class="page">
    <div class="box login">
        <div>
            <div class="title text-center">GİRİŞ YAP</div>
            <div class="formtable" id="loginContainer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                if (TempData["Message"] != null)
                {
                    <div id="alertBox" class="alert alert-danger" role="alert">@TempData["Message"]</div>
                }
                <div class="form-group required emailControl"><label>E-posta Adresi</label><input type="email" name="email" class="form-control" /></div>
                <div class="form-group required"><label>Şifre</label><input type="password" name="password" class="form-control" /></div>
                <div class="pull-left"><a href="sifremiunuttum.aspx" style="color:#fff;">Şifremi Unuttum?</a></div>
                <div class="pull-right"><div class="form-group"><input type="submit" class="btn blue-btn" value="Giriş Yap"></div></div>
            }
            </div>
        </div>
    </div>
</div>


<!--/////|  GİRİŞ SAYFASI  |/////-->


<!-- Modal -->
<div class="modal fade" id="contract" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Hizmet Sözleşmesi</h4>
            </div>
            <div class="modal-body scroll">
                <h3>MADDE 1 - TARAFLAR</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut enim sit amet turpis hendrerit porttitor eget a ipsum. Proin ut dui purus. Aenean et nunc viverra, feugiat nibh at, feugiat neque.

                <h3>MADDE 2 - SÖZLEŞME KONUSU</h3>
                Etiam interdum ipsum sit amet est egestas, non consequat quam posuere. Integer eget ipsum luctus, facilisis nulla luctus, fermentum tortor. Donec magna sapien, elementum eget tincidunt quis, mollis nec leo. Morbi sed posuere felis. Cras eu ipsum risus. Phasellus feugiat, est eget euismod ultricies, est mauris commodo velit, et semper dolor ante at nibh. Vestibulum accumsan odio nec augue porttitor, in elementum urna sodales. Donec vel augue id lorem facilisis fringilla.

                <h3>MADDE 3 - TANIMLAR</h3>
                Quisque eu tellus eget metus lacinia tristique sed quis nulla. Nullam rutrum libero at arcu luctus, quis scelerisque velit blandit. Nulla condimentum euismod lectus. Nulla tincidunt velit sit amet rhoncus posuere. Donec gravida at ipsum vitae aliquam. Sed libero sapien, tincidunt non iaculis in, luctus vel mi. Morbi vitae nisl est. Curabitur sed dictum ex. Fusce eget malesuada libero, vitae accumsan est. Donec consequat volutpat vehicula. Quisque nec ante posuere neque euismod accumsan a ac odio. Mauris purus purus, congue ut suscipit sit amet, mollis non orci. Nullam mi metus, vestibulum eget urna id, porttitor venenatis est. Aliquam condimentum tristique lectus ut rhoncus. Donec facilisis sit amet libero eget dictum. Vestibulum eu pellentesque eros.

                <h3>MADDE 4 - TAŞIMA ESASLARI</h3>
                Aliquam in dolor non lorem ultricies pharetra gravida ac arcu. Ut volutpat sapien hendrerit risus ullamcorper, nec fringilla diam fermentum. Nulla pretium velit vitae auctor varius. Aenean sit amet aliquet justo, et consequat purus. Sed non nulla ut ex ultrices mollis et non est.

                <h3>MADDE 5 - KULLANICININ YÜKÜMLÜLÜKLERİ</h3>
                Quisque dapibus malesuada lorem sit amet bibendum. Vivamus molestie aliquet ex, ac gravida neque luctus vitae. Nulla facilisi. Maecenas commodo, odio nec posuere tempus, dolor justo bibendum quam, et rhoncus tortor elit eget nisi. Nulla ac sapien vitae felis efficitur sagittis id in est. Aliquam eu suscipit risus, at tincidunt sem. Quisque ac ante justo. Sed dapibus diam eu placerat vestibulum.
            </div>
        </div>
    </div>
</div>


<!--/////|  KAYIT OL SAYFASI  |/////-->

