﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--/////|  PROFİL SAYFASI  |/////-->
@Scripts.Render("~/public/js/formControl.js")
<script type="text/javascript">

    $(function () {
        passwordbar();
    });

    function passwordbar() {
        var password = $("#password").val().trim();
        var passwordbar = $(".passwordbar>span");
        var level = 3;

        if (password != "") {

            if (password.length < 6) {
                level--;
            }

            if (!password.match(/[^0-9]/g)) {
                level--;
            }

            if (!password.match(/[^a-zA-Z ğüşıöçĞÜŞİÖÇ.,]/g)) {
                level--;
            }
            if (level <= 0) { passwordbar.removeClass(); }
            if (level == 1) { passwordbar.removeClass().addClass("easy"); }
            if (level == 2) { passwordbar.removeClass().addClass("normal"); }
            if (level == 3) { passwordbar.removeClass().addClass("secure"); }
        }
        else {
            passwordbar.removeClass();
        }

    }



    function profileForm() {
        if (formControl("#profileContainer")) {

            // Success
            location.reload();

        }
        else {
            alertBox("Lütfen işaretli alanları doldurunuz.");
        }
    }

    function alertBox(text) {
        var box = $("#alertBox");
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 60 }, 500);
        }
    }
</script>
<div class="page">
    <div class="container" style="max-width:740px;">

        <nav class="navbar navbar-dashed">

            <ul class="nav navbar-nav">
                <li><a href="kurye-cagir.aspx"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Çağır</a></li>
                <li><a href="gecmis-odemelerim.aspx"><i class="fa fa-history" aria-hidden="true"></i> Geçmiş Ödemelerim</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="profil.aspx"><i class="fa fa-user-circle" aria-hidden="true"></i> Hesap Bilgilerim</a></li>
            </ul>
        </nav>

        <div class="formtable" id="profileContainer" style="max-width:100%;">
            <div class="row">
                <div class="col-xs-12"><div class="title">Hesap Bilgilerim<br><small>İletişim bilgilerinizi ve şifrenizi bu alandan güncelleyebilirsiniz.</small></div><hr></div>
                <div class="col-xs-12 col-sm-12">
                    @using (Html.BeginForm("Edit", "Users", FormMethod.Post))
                    {

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        if (TempData["Message"] != null)
                        {
                            if ((int)TempData["code"] == 200)
                            {
                                <div class="alert alert-success">@TempData["Message"]</div>
                            }
                            else if ((int)TempData["code"] == 400)
                            {
                                <div class="alert alert-danger">@TempData["Message"]</div>
                            }
                        }
                        if (@Model.type == "individual")
                        {
                            <div class="form-group registertype individual">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TCNumber, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.TCNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TCNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="corporate registertype">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.taxAdministration, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.taxAdministration, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.taxAdministration, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.taxNumber, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.taxNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.taxNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.authorizedNameSurname, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.authorizedNameSurname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.authorizedNameSurname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.companyAddress, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.companyAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.companyAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                       
                        <!-- Kurumsal -->


                        <div class="form-group">
                            @Html.LabelFor(model => model.nameSurname, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.nameSurname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nameSurname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group required">
                            <label>Şifre</label>
                            <input type="password" name="password" class="form-control" id="password" value="@Model.password" onkeypress="passwordbar()" onblur="passwordbar()" />
                            <div class="passwordbar">
                                <span style="position: absolute;height: 4px;"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-6">
                                <input type="submit" value="Kaydet" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!--/////|  PROFİL SAYFASI  |/////-->

