﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.description">
    <meta name="keywords" content="@ViewBag.keywords">
    <meta name="author" content="CaparKurye">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109164296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109164296-1');
    </script>


    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/public/img/favicon/apple-icon-57x57.png")" />
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/public/img/favicon/apple-icon-60x60.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/public/img/favicon/apple-icon-72x72.png")" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/public/img/favicon/apple-icon-76x76.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/public/img/favicon/apple-icon-114x114.png")" />
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/public/img/favicon/apple-icon-120x120.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/public/img/favicon/apple-icon-144x144.png")" />
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/public/img/favicon/apple-icon-152x152.png")" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/public/img/favicon/apple-icon-180x180.png")" />
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/public/img/favicon/android-icon-192x192.png")" />
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/public/img/favicon/favicon-32x32.png")" />
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/public/img/favicon/favicon-96x96.png")" />
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/public/img/favicon/favicon-16x16.png")" />
    <link rel="manifest" href="img/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    @Scripts.Render("~/public/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/public/js/bootstrap.min.js")
    @Scripts.Render("~/public/dist/js/bootstrap-select.js")
    @Scripts.Render("~/public/dist/js/swiper.min.js")
    @Scripts.Render("~/public/js/function.js")

    @Styles.Render("~/public/css/bootstrap.min.css")
    @Styles.Render("~/public/css/bootstrap-theme.min.css")
    @Styles.Render("~/public/css/font-awesome.css")
    @Styles.Render("~/public/css/animate.css")
    @Styles.Render("~/public/dist/css/swiper.min.css")
    @Styles.Render("~/public/dist/css/bootstrap-select.css")
    @Styles.Render("~/public/css/style.css")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt0HcqQ1XM9Z6K8GiCtwJ-iyDc14LwY5Q" type="text/javascript"></script>


    <style>
        .bootstrap-select.btn-group .dropdown-menu li {
            border-bottom: solid 1px #eee;
        }
    </style>

</head>
<body>
        <div class="mobil-menu">
            <div class="logo"><a href="@Url.Action("Index", "Home", new { })"><img src="@Url.Content("~/public/img/logo.png")" alt="Çapar Kurye Kargo" /></a></div>
            <div class="menu-icon" onclick="$('.mobil-menu').toggleClass('active')"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="menu">
                @if (Session["userID"] == null)
                {
                    <div class="buttons">
                        @Html.ActionLink("GİRİŞ YAP", "Login", "Users", new { }, new { @class = "btn login" })
                        @Html.ActionLink("KAYIT OL", "Create", "Users", new { }, new { @class = "btn register" })
                    </div>
                }
                else
                {
                    <div class="buttons">
                        <div class="dropdown">
                            <button class="btn w-100 btn-success" type="button" data-toggle="dropdown" aria-expanded="true">
                                @Session["userAdSoyad"]
                                <span class="caret" style="margin: 2px;"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="@Url.Action("RequestCourier", "Home", new { })"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Çağır</a></li>
                                <li><a href="@Url.Action("LastPayments", "Home", new { })"><i class="fa fa-history" aria-hidden="true"></i> Geçmiş Ödemelerim</a></li>
                                <li><a href="@Url.Action("Profile", "Users", new { })"><i class="fa fa-user-circle" aria-hidden="true"></i> Hesap Bilgilerim</a></li>
                                <li><a href="@Url.Action("Logout", "Users", new { })"><i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap</a></li>
                            </ul>
                        </div>
                    </div>
                }
                    
                <div class="link">
                    <a href="@Url.Action("Index", "Home", new { })">Ana Sayfa</a>
                    <a href="@Url.Action("About", "Home", new { })">Hakkımızda</a>
                    <a href="@Url.Action("Services", "Home", new { })">Hizmetlerimiz</a>
                    <a href="@Url.Action("HumanResources", "Home", new { })">İnsan Kaynakları</a>
                    <a href="@Url.Action("Contact", "Home", new { })">İletişim</a>
                    <a href="@Url.Action("Faq", "Home", new { })">Sıkça Sorulan Sorular</a>
                    <a href="@Url.Action("Files", "Home", new { })">Belgelerimiz</a>
                    <a href="@Url.Action("News", "Home", new { })">Haberler</a>
                    <a href="@Url.Action("ServiceAgreement", "Home", new { })">Hizmet Sözleşmesi</a>
                </div>
            </div>
        </div>
        <header>
            <div class="logo"><a href="@Url.Action("Index", "Home", new { })"><img src="@Url.Content("~/public/img/logo.png")" alt="Çapar Kurye Kargo" /></a></div>
            <div class="menu-icon" onclick="$('.mobil-menu').toggleClass('active')"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <div class="rightbar">
                <div class="top">
                    <div class="left-menu">
                        <a href="@Url.Action("About", "Home", new { })">HAKKIMIZDA</a> •
                        <a href="@Url.Action("Services", "Home", new { })">HİZMETLER</a> •
                        <a href="@Url.Action("HumanResources", "Home", new { })">İNSAN KAYNAKLARI</a> •
                        <a href="@Url.Action("Contact", "Home", new { })">İLETİŞİM</a>
                    </div>
                    <div class="right-menu">
                        <div class="phone">
                            0232 306 10 06 / 07<br />
                            <strong>DESTEK HATTI</strong>
                        </div>
                        @if (Session["userID"] == null)
                        {
                            <div class="buttons">
                                @Html.ActionLink("GİRİŞ YAP", "Login", "Users", new { }, new { @class = "btn login" })
                                @Html.ActionLink("KAYIT OL", "Create", "Users", new {}, new { @class = "btn register" })
                            </div>
                        }
                        else
                        {
                            <div class="buttons">
                                <div class="dropdown">
                                    <button class="btn w-100 btn-success" type="button" data-toggle="dropdown" aria-expanded="true">
                                        @Session["userAdSoyad"]
                                        <span class="caret" style="margin: 2px;"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="@Url.Action("RequestCourier", "Home", new { })"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Çağır</a></li>
                                        <li><a href="@Url.Action("LastPayments", "Home", new { })"><i class="fa fa-history" aria-hidden="true"></i> Geçmiş Ödemelerim</a></li>
                                        <li><a href="@Url.Action("Profile", "Users", new { })"><i class="fa fa-user-circle" aria-hidden="true"></i> Hesap Bilgilerim</a></li>
                                        <li><a href="@Url.Action("Logout", "Users", new { })"><i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="bottom">
                    <div class="announcement">
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        <span class="announcementgroup">
                            @if (ViewBag.notifications != null)
                            {
                                int i = 0;
                                foreach (var element in ViewBag.notifications)
                                {
                                    if (i != 0)
                                    {
                                    <span class="display"  style = "display: none;" >@element.content</span>
                                    }
                                    else
                                    {
                                        <span class="display">@element.content</span>
                                    }
                                    i++;
                                }
                             }
                        </span>
                    </div>
                    <div class="social">
                            <a href="@(((CaparKurye.Settings)ViewBag.settings).facebook)" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="@(((CaparKurye.Settings)ViewBag.settings).twitter)" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                            <a href="@(((CaparKurye.Settings)ViewBag.settings).linkedin)" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            <a href="@(((CaparKurye.Settings)ViewBag.settings).instagram)" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()


        <footer>
            <div class="logo"><a href="index.aspx"><img src="@Url.Content("~/public/img/footer-logo.png")" alt="Çapar Kurye Kargo" /></a></div>
            <div class="menu">
                <div class="link">
                    <a href="@Url.Action("About", "Home", new { })">Hakkımızda</a> •
                    <a href="@Url.Action("Services", "Home", new { })">Hizmetlerimiz</a> •
                    <a href="@Url.Action("HumanResources", "Home", new { })">İnsan Kaynakları</a> •
                    <a href="@Url.Action("Contact", "Home", new { })">İletişim</a> •
                    <a href="@Url.Action("Faq", "Home", new { })">Sıkça Sorulan Sorular</a> •
                    <a href="@Url.Action("Files", "Home", new { })">Belgelerimiz</a> •
                    <a href="@Url.Action("News", "Home", new { })">Haberler</a> •
                    <a href="@Url.Action("ServiceAgreement", "Home", new { })">Hizmet Sözleşmesi</a>
                    <br /><br />
                </div>
                © 2017 Çapar Kurye Kargo Tüm Hakları Saklıdır.
                <br /><br />
                <small class="label" onclick="$('html,body').animate({scrollTop:0}, '500')">
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                    YUKARI ÇIK
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </small>
            </div>

        </footer>
</body>
</html>