﻿@model CaparKurye.BankAccounts

@{
    ViewBag.Title = "Banka Hesapları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    function changeType(val) {
        if (val == "choose1") {
            $("#choose1").hide();
            $("#choose2").show();
        } else {
            $("#choose1").show();
            $("#choose2").hide();
        }
    }
</script>

<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">

            @using (Html.BeginForm("Edit", "BankAccounts", FormMethod.Post, new { id = Model.accountID, enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.accountID)

                <div class="form-group">
                    @Html.LabelFor(model => model.bankName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.bankName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.bankName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ibanCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ibanCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ibanCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.branchCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.branchCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.branchCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.accountCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.accountCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.accountCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Yükleme Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <select name="uploadType" class="form-control class=" col-md-10"" onclick="changeType(this.value)">
                            <option value="choose2">Resim Yükle</option>
                            <option value="choose1">Önceki Resimlerden Seç</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="choose1">
                    @Html.Label("Resim Yükle:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="file" name="file" id="file" class="form-control" accept="image/*" style="width: 100%;" />
                    </div>
                </div>

                <div class="form-group" id="choose2" style="display:none">
                    @Html.LabelFor(model => model.pictureID, "Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownList("pictureID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <div class="form-group pull-left">
                        <input type="submit" value="Güncelle" class="btn btn-success" />
                    </div>
                </div>

            }
            <div class="col-xs-6 col-md-4">
                <div class="form-group pull-right">
                    <div style="display:inline-block">
                        @using (Html.BeginForm("Delete", "BankAccounts", new { id = Model.accountID }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Sil" class="btn btn-danger" />
                        }
                    </div>
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>

    </div>
</div>


