﻿@model IEnumerable<CaparKurye.BankAccounts>

@{
    ViewBag.Title = "Banka Hesapları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> @ViewBag.Title</h4>
        <div class="col-xs-12 col-sm-12">

            <table class="table">
                <tr>
                    <th>Resim</th>
                    <th>@Html.DisplayNameFor(model => model.bankName)</th>
                    <th>@Html.DisplayNameFor(model => model.ibanCode)</th>
                    <th>@Html.DisplayNameFor(model => model.branchCode)</th>
                    <th>@Html.DisplayNameFor(model => model.accountCode)</th>
                    <th>
                        @if (Session["adminType"].ToString() == "Admin")
                        {
                            @Html.ActionLink("Yeni Ekle", "Create", new { }, new { @class = "btn btn-primary btn-xs pull-right" })
                        }
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <img style="height:50px;width:50px;" src="@Url.Content("~/public/UploadedFiles/")@Html.DisplayFor(modelItem => item.Pictures.name)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bankName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ibanCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.branchCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.accountCode)
                        </td>
                        <td class="text-right">

                            @if (Session["adminType"].ToString() == "Admin")
                {
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.accountID }, new { @class = "btn btn-warning btn-xs" })
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>



