﻿@model CaparKurye.Files

@{
    ViewBag.Title = "Belgeler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-wpforms" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="col-xs-12">

            <dl class="dl-horizontal">
                <dt>
                    Resim
                </dt>

                <dd>
                    <img src="@Url.Content("~/public/UploadedFiles/")@Model.Pictures.name.ToString()" style="max-width:500px;width:100%;" />
                </dd>

            </dl>

            <div class="form-group pull-left">@Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })</div>

            @if (Session["adminType"].ToString() == "Admin")
            {
                <div class="form-group pull-right">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.fileID }, new { @class = "btn btn-primary" })
                </div>
            }

        </div>

    </div>
</div>

