﻿@model CaparKurye.Sliders

@{
    ViewBag.Title = "Slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-exchange" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="col-xs-12">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.content)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.content)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.url)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.url)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.order)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.order)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Pictures.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pictures.name)
                </dd>
            </dl>

            <div class="form-group pull-left">@Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })</div>

            @if (Session["adminType"].ToString() == "Admin")
            {
                <div class="form-group pull-right">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.sliderID }, new { @class = "btn btn-primary" })
                </div>
            }

        </div>

    </div>
</div>
