﻿@model CaparKurye.News

@{
    ViewBag.Title = "Haberler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Areas/Admin/Content/ckeditor/ckeditor.js")
<script>
    $(function () {
        CKEDITOR.replace('content');
    });
    function changeType(val) {
        if (val == "choose1") {
            $("#choose1").hide();
            $("#choose2").show();
        } else {
            $("#choose1").show();
            $("#choose2").hide();
        }
    }
</script>



<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-bullhorn" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">

            @using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.subtitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.subtitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.subtitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.summary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.summary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.summary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.content, new { rows = 8, columns = 40, @class = "form-control", @id = "content" })
                        @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Yükleme Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <select name="uploadType" class="form-control class=" col-md-10"" onclick="changeType(this.value)">
                            <option value="choose2">Resim Yükle</option>
                            <option value="choose1">Önceki Resimlerden Seç</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="choose1">
                    @Html.Label("Resim Yükle:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="file" name="file" id="file" class="form-control" accept="image/*" style="width: 100%;" />
                    </div>
                </div>

                <div class="form-group" id="choose2" style="display:none">
                    @Html.LabelFor(model => model.pictureID, "Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownList("pictureID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-success pull-left" />
                    </div>
                </div>

            }
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })
                </div>
            </div>

        </div>

    </div>
</div>


