﻿@model CaparKurye.News

@{
    ViewBag.Title = "Haberler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="col-xs-12">

            <dl class="dl-horizontal">
                <dt>Resim</dt>
                <dd><img src="@Url.Content("~/public/UploadedFiles/")@Html.DisplayFor(model => model.Pictures.name)" style="max-width:500px;width:100%;" /></dd>

                <dt>@Html.DisplayNameFor(model => model.Pictures.name)</dt>
                <dd>@Html.DisplayFor(model => model.Pictures.name)</dd>

                <dt>@Html.DisplayNameFor(model => model.title)</dt>
                <dd>@Html.DisplayFor(model => model.title)</dd>

                <dt>@Html.DisplayNameFor(model => model.subtitle)</dt>
                <dd>@Html.DisplayFor(model => model.subtitle)</dd>

                <dt>@Html.DisplayNameFor(model => model.summary)</dt>
                <dd>@Html.DisplayFor(model => model.summary)</dd>

                <dt>@Html.DisplayNameFor(model => model.content)</dt>
                <dd>@Html.Raw(@Model.content)</dd>

                <dt>@Html.DisplayNameFor(model => model.date)</dt>
                <dd>@Html.DisplayFor(model => model.date)</dd>

            </dl>

            <div class="form-group pull-left">@Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })</div>

            @if (Session["adminType"].ToString() == "Admin")
            {
                <div class="form-group pull-right">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.newsID }, new { @class = "btn btn-primary" })
                </div>
            }

        </div>

    </div>
</div>



