﻿@{
    ViewBag.Title = "İletişim";
    ViewBag.description = ((CaparKurye.Settings)ViewBag.settings).description;
    ViewBag.keywords = ((CaparKurye.Settings)ViewBag.settings).keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/public/js/formControl.js")
<script type="text/javascript">
    function check() {
        if (!formControl("#contactContainer")) {
            alertBox("Lütfen işaretli alanları doldurunuz.");
            return false;
        }
    }
    function alertBox(text) {
        var box = $("#alertBox");
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 15 }, 500);
        }
    }

    function mapShow() {

        $(".map").addClass("active");
        var map = $(".map").position();
        $('html').animate({ scrollTop: map.top }, '500');

    }
</script>

    <div class="page">
        <div class="container">

            <div class="title">İLETİŞİM</div>

            <div class="formtable" style="max-width: 100%;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <h4>
                            Adres<br>
                            <small>Bayraklı Mah. 1900 Sk. No:13/2A Bayraklı/İZMİR</small>
                        </h4>
                        <div class="btn blue-btn btn-sm" onclick="mapShow()">Haritada Göster</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <h4>Telefon : <small>0232 306 10 06 / 0232 306 10 07</small></h4>
                        <h4>Fax : <small>0232 306 10 81</small></h4>
                        <h4>E-posta : <small>info@caparkurye.com.tr</small></h4>
                    </div>
                </div>
                <div class="row" id="contactContainer">
                    <div class="col-xs-12"><hr></div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required"><label>Ad ve Soyad</label><input type="text" class="form-control" name="nameSurname" id="adsoyad" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required phoneControl"><label>Telefon Numarası</label><input type="tel" name="phone" class="form-control numberControl" maxlength="11" id="telefon" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required emailControl"><label>E-posta Adresi</label><input type="email" name="email" class="form-control" id="eposta" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group required"><label>Mesaj</label><textarea name="message" class="form-control" rows="6" id="mesaj"></textarea></div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="pull-right"><input type="submit" class="btn blue-btn" onclick="return check()" value="Gönder"></div>
                        </div>
                    }
                </div>

                @if (TempData["Message"] != null)
                {
                    <div id="alertBox" class="alert alert-success" role="alert">@TempData["Message"]</div>
                }
                <div class="col-xs-12"><div id="alertBox" class="alert alert-warning" role="alert" style="display:none"></div></div>
            </div>
        </div>
    </div>

    <div class="map">
        <div id="map" style="height: 400px"></div>
    </div>
    <div id="info" style="display: none;">Çapar Kurye Kargo</div>

    <script>


                    function initMap() {

                        var konum = { lat: 38.462669, lng: 27.167627 };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 16,
                            center: konum
                        });

                        var infoContent = document.getElementById("info").innerHTML;

                        var infowindow = new google.maps.InfoWindow({
                            content: infoContent
                        });


                        var marker = new google.maps.Marker({
                            position: konum,
                            map: map,
                            title: "Çapar Kurye Kargo"
                        });


                        //marker.addListener('click', function () {

                        //    infowindow.open(map, marker);
                        //});

                        infowindow.open(map, marker);
                    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFGoZehuIm-KLTJDY5r_5sufWzm69yH1s&callback=initMap" async defer></script>
