﻿@model Dictionary<string,List<CaparKurye.Faqs>>
@{
    ViewBag.Title = "Sıkça Sorulan Sorular";
}

<style>
    .content h3:first-child {
        margin-top: 0px;
    }
</style>
<div class="page">
    <div class="container">
        <div class="title">@ViewBag.pagetitle</div>
        <div class="content sss">
            @foreach (var element in Model)
            {
                <h3>@element.Key</h3>
                foreach (var item in (List<CaparKurye.Faqs>)element.Value)
                {
                    <div class="question">
                        <h4>@Html.DisplayFor(m => item.question)</h4>
                        @Html.Raw(item.answer)
                    </div>
                }
            }
        </div>
    </div>
</div>