﻿@model IEnumerable<CaparKurye.Files>

@{
    ViewBag.Title = "Belgelerimiz";
}

@Scripts.Render("~/public/js/baguetteBox.min.js")
@Styles.Render("~/public/css/baguetteBox.min.css")


<script type="text/javascript">
    $(function () {
        baguetteBox.run('.gallery');
    });
</script>
<style>
    #baguetteBox-overlay .full-image img {
        max-height: 70%;
    }
</style>
<div class="page">
    <div class="container">
        <div class="title">@ViewBag.Title </div>
        <div class="content">

            <div class="gallery">
                @foreach (var element in Model)
                {
                    <div class="img"><a href="@Url.Content("~/public/UploadedFiles/")@element.Pictures.name" title="@element.Pictures.title"><img src="@Url.Content("~/public/UploadedFiles/")@element.Pictures.name"></a></div>
                }
            </div>

        </div>
    </div>
</div>