﻿@{
    ViewBag.Title = "İnsan Kaynakları";
    ViewBag.description = ((CaparKurye.Settings)ViewBag.settings).description;
    ViewBag.keywords = ((CaparKurye.Settings)ViewBag.settings).keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/public/js/formControl.js")
<script type="text/javascript">
    function check() {
        if (formControl("#humanresourcesContainer")) {
        } else {
            alertBox("Lütfen işaretli alanları doldurunuz.");
            return false;
        }
    }
    function alertBox(text) {
        var box = $("#alertBox");
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 15 }, 500);
        }
    }

    function mapShow() {

        $(".map").addClass("active");
        var map = $(".map").position();
        $('html').animate({ scrollTop: map.top }, '500');

    }
</script>
    <div class="page text-center">
        <div class="container">

            <div class="formtable" id="humanresourcesContainer">

                <div class="title  text-center">İNSAN KAYNAKLARI<br><small>Bizimle çalışmak ister misiniz?</small></div>
                <div class="content  text-center">Çapar herzaman yeni çalışanlara fırsat tanır aşağıdaki formu doldurun insan kaynaklarından size geri dönüş yapsınlar.</div>

                <hr>

                <div class="row">
                    @if (TempData["Message"] != null)
                    {
                        <div id="alertBox" class="alert alert-success" role="alert">@TempData["Message"]</div>
                    }
                    <div class="col-xs-12"><div id="alertBox" class="alert alert-warning" role="alert" style="display:none"></div></div>
                    @using (Html.BeginForm("HumanResources", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group requiredSelectpicker">
                            <label>Çalışmak İstediğiniz Pozisyon</label>
                            <select class="form-control selectpicker" title="Seçim Yapınız" name="position" id="pozisyon"><option>Kurye</option><option>Müşteri İlişkileri</option></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required TCControl"><label>TC Kimlik Numarası</label><input type="text" name="TCNumber" class="form-control numberControl" maxlength="11" id="tckimlik" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required"><label>Ad ve Soyad</label><input name="nameSurname" type="text" class="form-control" id="adsoyad" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group requiredSelectpicker">
                            <label>Cinsiyet</label>
                            <select class="form-control selectpicker" title="Seçim Yapınız" name="gender" id="cinsiyet"><option>Erkek</option><option>Kadın</option></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group requiredSelectpicker">
                            <label>Medeni Hali</label>
                            <select class="form-control selectpicker" title="Seçim Yapınız" name="status" id="medenihali"><option>Bekar</option><option>Evli</option></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required"><label>Doğum Tarihi</label><input type="date" name="birthdate" class="form-control" id="dogumtarihi" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required"><label>Doğum Yeri</label><input name="birthplace" type="text" class="form-control" id="dogumyeri" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group requiredSelectpicker">
                            <label>Eğitim Durumu</label>
                            <select class="form-control selectpicker" name="education" title="Seçim Yapınız" id="egitimdurumu">
                                <option value="İlköğretim">İlköğretim</option>
                                <option value="Lise">Lise</option>
                                <option value="Yüksek Okul">Yüksek Okul</option>
                                <option value="Üniversite">Üniversite</option>
                                <option value="Yüksek Lisan">Yüksek Lisan</option>
                                <option value="Doktora">Doktora</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group requiredSelectpicker">
                            <label>Askerlik Durumu</label>
                            <select class="form-control selectpicker" title="Seçim Yapınız" name="military" id="askerlikdurumu"><option>Muaf</option><option>Tecilli</option><option>Yaptım</option></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group requiredSelectpicker">
                            <label>Sürücü Belgesi</label>
                            <select class="form-control selectpicker" multiple="multiple" title="Seçim Yapınız" id="surucubelgesi" onchange="$('#driverLicanceData').val($('#surucubelgesi').val().toString())">
                                <option value="A1">A1</option>
                                <option value="A2">A2</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="K">K</option>
                            </select>
                            <input type="hidden" id="driverLicanceData" name="driverLicance"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group requiredSelectpicker">
                            <label>Sigara Kullanıyor musunuz?</label>
                            <select class="form-control selectpicker" name="smoking" title="Seçim Yapınız" id="sigaradurumu"><option>Evet</option><option>Hayır</option></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required"><label>Telefon Numarası</label><input type="tel" name="phone" class="form-control numberControl" maxlength="11" id="telefon" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required emailControl"><label>E-posta Adresi</label><input type="email" name="email" class="form-control" id="eposta" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group"><label>CV</label><input name="file" type="file" accept=".doc, .docx,.pdf, image/*" class="form-control" /></div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <hr>
                        <div class="pull-right"><input type="submit" class="btn blue-btn" onclick="return check()" value="Başvuru Yap"></div>
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
