﻿@{
    ViewBag.title = ((CaparKurye.Settings)ViewBag.settings).title;
    ViewBag.description = ((CaparKurye.Settings)ViewBag.settings).description;
    ViewBag.keywords = ((CaparKurye.Settings)ViewBag.settings).keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/public/js/calculation-index.js")
<!-- map -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kurye Rotası</h4>
            </div>
            <div class="modal-body">

                <div class="row form-group">
                    <div class="col-xs-12 col-sm-4 col-md-3 map-info-box">
                        <div class="map-info">
                            <div class="title">Mesafe</div>
                            <div class="number"><span id="total"></span> <sup>KM</sup></div>
                        </div>
                        <hr />
                        <div class="map-info">
                            <div class="title">Ücret</div>
                            <div class="number"><span id="price"></span> <sup>TL</sup></div>
                        </div>
                    </div>

                    <div class="col-xs-12  col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="map-pin">A</div>
                                <div class="map-address">
                                    <small>Çıkış Birimi</small>
                                    <span>Çapar Kargo ve Kurye</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="map-bar">
                                    <div class="icon">
                                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="map-pin">B<span style="display: none;" class="imzaliGonderim">/D</span></div>
                                <div class="map-address">
                                    <small>Gönderen</small>
                                    <span id="nerdenAdres"></span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="map-bar">
                                    <div class="icon">
                                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                        <span style="display: none;" class="imzaliGonderim"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="map-pin">C</div>
                                <div class="map-address">
                                    <small>Alıcı</small>
                                    <span id="nereyeAdres"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

<div class="cloud">
    <div class="calculation">
        <div class="text">Hemen mesafenizi seçin ve kurye'yi çağırın.<br /><small style="font-size: 12px;">* Gönderiniz 1 adet dosya türünden hesaplanacaktır.</small></div>

        <div class="total">
            <div class="paymentContainer" style="display: none;">&nbsp;<span id="totalPrice"></span> TL<br /><div onclick="location.href='kurye-cagir.aspx'" class="btn">Kurye'yi Çağır</div></div>
            <div id="bid" style="display: none;"> <h4>Fiyat Teklifi Alınız</h4> <span class='btn blue-btn' onclick='location.href="kurye-cagir.aspx"'>Biz Sizi Arayalım</span> </div>
        </div>

        <div class="animation">
            <div class="pin one" id="nerdenIcon"></div>
            <div class="way"><div class="motorcycle"></div></div>
            <div class="pin two" id="nereyeIcon"></div>
        </div>

        <div class="col-xs-12 col-sm-4 form">
            <div class="form-group">
                <select class="form-control groupselect city selectpicker" id="NerdenIlce" data-live-search="true" title="Nerden?" onchange="cityControl(this,'city')">
                    <optgroup label="İzmir">
                        <option value="İzmir, Aliağa">Aliağa</option>
                        <option value="İzmir, Balçova">Balçova</option>
                        <option value="İzmir, Bayraklı">Bayraklı</option>
                        <option value="İzmir, Bergama">Bergama</option>
                        <option value="İzmir, Bornova">Bornova</option>
                        <option value="İzmir, Buca">Buca</option>
                        <option value="İzmir, Çeşme">Çeşme</option>
                        <option value="İzmir, Çiğli">Çiğli</option>
                        <option value="İzmir, Dikili">Dikili</option>
                        <option value="İzmir, Foça">Foça</option>
                        <option value="İzmir, Gaziemir">Gaziemir</option>
                        <option value="İzmir, Güzelbahçe">Güzelbahçe</option>
                        <option value="İzmir, Karabağlar">Karabağlar</option>
                        <option value="İzmir, Karaburun">Karaburun</option>
                        <option value="İzmir, Karşıyaka">Karşıyaka</option>
                        <option value="İzmir, Kemalpaşa">Kemalpaşa</option>
                        <option value="İzmir, Konak">Konak</option>
                        <option value="İzmir, Menderes">Menderes</option>
                        <option value="İzmir, Menemen">Menemen</option>
                        <option value="İzmir, Narlıdere">Narlıdere</option>
                        <option value="İzmir, Seferihisar">Seferihisar</option>
                        <option value="İzmir, Tire">Tire</option>
                        <option value="İzmir, Torbalı">Torbalı</option>
                        <option value="İzmir, Urla">Urla</option>
                    </optgroup>
                </select>
                <div class="input-group bootstrap-select form-control district dropup">
                    <div data-toggle="tooltip" data-placement="bottom" title="İlçe Değiştir" class="input-group-addon" onclick="cityControl(this,'district')"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
                    <input type="text" name="nerden" id="Nerden" class="form-control" placeholder="Mahalle, Sokak, Kapı No" onchange="Control()" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 form">
            <div class="form-group">
                <select class="form-control selectpicker" id="GonderiTuru" title="Nasıl?" onchange="Control()">
                    <option>Acil Kurye</option>
                    <option value="Imzalı">İmzalı Gönderim</option>
                    <option value="Teklif">Özel Gün Kuryesi</option>
                    <option value="Teklif">Dağıtım Hizmeti</option>
                    <option value="Teklif">Kurye Kiralama</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 form">
            <div class="form-group">
                <select class="form-control groupselect city selectpicker" id="NereyeIlce" data-live-search="true" title="Nereye?" onchange="cityControl(this,'city')">
                    <optgroup label="İzmir">
                        <option value="İzmir, Aliağa">Aliağa</option>
                        <option value="İzmir, Balçova">Balçova</option>
                        <option value="İzmir, Bayraklı">Bayraklı</option>
                        <option value="İzmir, Bergama">Bergama</option>
                        <option value="İzmir, Bornova">Bornova</option>
                        <option value="İzmir, Buca">Buca</option>
                        <option value="İzmir, Çeşme">Çeşme</option>
                        <option value="İzmir, Çiğli">Çiğli</option>
                        <option value="İzmir, Dikili">Dikili</option>
                        <option value="İzmir, Foça">Foça</option>
                        <option value="İzmir, Gaziemir">Gaziemir</option>
                        <option value="İzmir, Güzelbahçe">Güzelbahçe</option>
                        <option value="İzmir, Karabağlar">Karabağlar</option>
                        <option value="İzmir, Karaburun">Karaburun</option>
                        <option value="İzmir, Karşıyaka">Karşıyaka</option>
                        <option value="İzmir, Kemalpaşa">Kemalpaşa</option>
                        <option value="İzmir, Konak">Konak</option>
                        <option value="İzmir, Menderes">Menderes</option>
                        <option value="İzmir, Menemen">Menemen</option>
                        <option value="İzmir, Narlıdere">Narlıdere</option>
                        <option value="İzmir, Seferihisar">Seferihisar</option>
                        <option value="İzmir, Tire">Tire</option>
                        <option value="İzmir, Torbalı">Torbalı</option>
                        <option value="İzmir, Urla">Urla</option>
                    </optgroup>
                </select>
                <div class="input-group bootstrap-select form-control district dropup">
                    <div data-toggle="tooltip" data-placement="bottom" title="İlçe Değiştir" class="input-group-addon" onclick="cityControl(this,'district')"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
                    <input type="text" name="nereye" id="Nereye" class="form-control" placeholder="Mahalle, Sokak, Kapı No" onchange="Control()" />
                </div>
            </div>
        </div>

    </div>
</div>


<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 services1">
                <div class="icon"><img src="@Url.Content("~/public/img/services-icon1.png")" /></div>
                <div class="title">Acil Kurye</div>
                <div class="content">Gönderici tarafından iş emrinin Çapar Kurye’ye iletilmesinden sonra en geç 1 saat içerisinde gönderinin Alıcıya ulaştırılmasıdır. </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 services2">
                <div class="icon"><img src="@Url.Content("~/public/img/services-icon2.png")" /></div>
                <div class="title">Özel Gün Kuryesi</div>
                <div class="content">Özel günleriniz için özel bir hediye teslimatı. Gun içerisinde istediğiniz saatte, kişiye özel imza karşılığı ile gönderiniz alıcısına ulaşır. </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 services3">
                <div class="icon"><img src="@Url.Content("~/public/img/services-icon3.png")" /></div>
                <div class="title">Dağıtım Hizmetleri</div>
                <div class="content">Broşür, davetiye gibi toplu gönderilerinizi Motorlu Kurye aracılığı ile dağıttırabilirsiniz. </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 services4">
                <div class="icon"><img src="@Url.Content("~/public/img/services-icon4.png")" /></div>
                <div class="title">Kurye Kiralama</div>
                <div class="content">Uzun dönemli çalışmalar için geçerlidir. Ayrıntılı bilgi için lütfen bize ulaşın. </div>
            </div>
        </div>
    </div>
</div>

<div class="slider">
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">

                @foreach (var element in (List<Sliders>)ViewBag.sliders)
                {
                    <div class="swiper-slide row swiper-slide-active" style="width: 1170px; margin-right: 30px;">
                        <div class="col-xs-12 col-sm-6 text">
                            <div class="title">@element.title</div>
                            <div class="content">@element.content</div>
                            @if (element.url != null)
                            {
                                <a href="@element.url" class="btn">Daha Fazla Bilgi</a>
                            }
                        </div>
                        <div class="col-xs-12 col-sm-6 img text-right">
                            <img src="@Url.Content("~/public/UploadedFiles/")@element.Pictures.name" style="width:100%; max-width: 400px;">
                        </div>
                    </div>
                }

        </div>
        <div class="swiper-pagination swiper-pagination-white swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
    </div>
</div>

<div class="news">
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            @foreach (var element in (List<News>)ViewBag.news)
            {
            <div class="swiper-slide swiper-slide-active" style="width: 250px; margin-right: 50px;">
                <div class="box">
                    <div class="img" style="background-image:url(@Url.Content("~/public/UploadedFiles/")@element.Pictures.name)">
                        <div class="date">@(Convert.ToDateTime(element.date).ToString("dd/MM/yyyy"))</div>
                    </div>
                    <div class="title">@element.title<small>@element.subtitle</small></div>
                    <div class="content">@element.summary</div>
                    <a href="/haber-detay/@element.newsID" class="btn">Devamını Oku</a>
                </div>
            </div>
            }
        </div>
        <div class="swiper-button-next swiper-button-disabled"></div>
        <div class="swiper-button-prev swiper-button-disabled"></div>
    </div>
</div>