﻿@model List<CaparKurye.Couriers>
@{
    ViewBag.Title = "Son Ödemeler";
}

    <!--/////|  KURYE ÇAĞIR SAYFASI  |/////-->

    @Scripts.Render("~/public/js/jquery-ui.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.js"></script>
    @Scripts.Render("~/public/js/formControl.js")
    @Scripts.Render("~/public/js/calculation.js")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt0HcqQ1XM9Z6K8GiCtwJ-iyDc14LwY5Q" type="text/javascript"></script>
    @Scripts.Render("~/public/js/jquery.mask.js")
    @Scripts.Render("~/Areas/Admin/Content/js/functions.js")
    <script>

        function calculation(e) {

            var pinOneSelect = $("#pinOneSelect").val();
            var pinTwoSelect = $("#pinTwoSelect").val();

            if (e == 1) {
                if (pinOneSelect != "") {
                    $("#pinOneIcon").addClass("active");
                }
                else {
                    $("#pinOneIcon").removeClass("active");
                }
            }

            if (e == 2) {
                if (pinTwoSelect != "") {
                    $("#pinTwoIcon,.motorcycle,.total").addClass("active");
                    $(".calculation>.text").fadeOut();

                }
                else {
                    $("#pinTwoIcon,.motorcycle,.total").removeClass("active");

                }
            }
        }

        function detay(id) {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("getPayments", "Home", null, Request.Url.Scheme)",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { id: id},
                    success: function (d) {
                        console.log(d)
                        $(".remove").remove();
                        var date = convertDate(d[0].date);
                        
                        $("#PaymentDate").text(date);
                        $("#PaymentNameSurname").text(d[0].nameSurname);
                        $("#PaymentTelefon").text(d[0].phone);
                        $("#PaymentTcNumTaxNum").text(d[0].tcNumTaxNum);
                        $("#PaymentFromAddress").text(d[0].fromDistrict + " " + d[0].fromAddress);
                        $("#description").text(d[0].description);
                        $("#amountOfPost").text(d[0].amountOfPost +" ₺"); 
                        $("#contentOfPost").text(d[0].contentOfPost);
                        $("#post").text(d[0].post);
                        $("#postType").text(d[0].postType);
                        $("#paymentType").text(d[0].Payments.paymentType + (d[0].Payments.paymentType == "Havale" ? " (" + d[0].Payments.bankName +")": ""));
                        $("#totalCost").text(d[0].Payments.totalCost.toFixed(2) + " ₺");
                        $("#courierID").val(d[0].courierID);

                        $(d[0].CourierRecievers.reverse()).each(function () {
                            $("#recievers").after(
                                ' <tr class="remove"> ' +
                                '<th>Alıcı Bilgileri</th>' +
                                ' <th>:</th>' +
                                '<td>' +
                                ' <strong>İsim / Ünvan :</strong> ' + this.nameSurname + '<br>' +
                                ' <strong>Telefon :</strong> ' + this.phone + '<br>' +
                                ' <strong>TC No / Vergi D. - Vergi No :</strong> ' + this.TcNumTaxNum + '<br>' +
                                '<strong>Adres :</strong> ' + this.toDistrict +
                                '</td>' +
                                '</tr>');
                        });
                        
                        $('#detay').modal('show');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
            });
        }

        $(window).load(function () {
            var total = $('.announcementgroup .display').length;
            var sayac = 1;

            function announcement() {
                setTimeout(function () {
                    $('.announcementgroup .display').fadeOut();
                    sayac++;
                    $('.announcementgroup .display:nth-child(' + sayac + ')').fadeIn();
                    if (sayac > total) {
                        sayac = 1;
                        $('.announcementgroup .display:nth-child(1)').fadeIn();
                        announcement();
                    } else {
                        announcement();
                    }
                }, 5000);
            }

            announcement();

            var swiper = new Swiper('.slider .swiper-container', {
                pagination: '.slider .swiper-pagination',
                centeredSlides: true,
                paginationClickable: true,
                spaceBetween: 30,
            });


            var swiper = new Swiper('.news .swiper-container', {
                nextButton: '.news .swiper-button-next',
                prevButton: '.news .swiper-button-prev',
                paginationClickable: true,
                slidesPerView: 4,
                spaceBetween: 50,
                breakpoints: {
                    1000: {
                        slidesPerView: 3,
                        spaceBetween: 40
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    480: {
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }
            });
        });

</script>

<!--/////|  GEÇMİŞ ÖDEMELERİM SAYFASI  |/////-->
<div class="page">
    <div class="container" style="max-width:740px;">

        <nav class="navbar navbar-dashed">

            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("RequestCourier", "Home", new { })"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Çağır</a></li>
                <li class="active"><a href="@Url.Action("LastPayments", "Home", new { })"><i class="fa fa-history" aria-hidden="true"></i> Geçmiş Ödemelerim</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li><a href="@Url.Action("Profile", "Users", new { })"><i class="fa fa-user-circle" aria-hidden="true"></i> Hesap Bilgilerim</a></li>
            </ul>
        </nav>

        <div class="formtable" id="profileContainer" style="max-width:100%;">
            <div class="row">

                <div class="col-xs-12"><div class="title">Geçmiş Ödemelerim<br><small>Geçmişe ait gönderileriniz yer almaktadır.</small></div><hr></div>

                <div class="col-xs-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Tarih</td>
                                    <td>Gönderi Tipi</td>
                                    <td>Adet</td>
                                    <td>Ödeme Türü</td>
                                    <td>Tutar</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<Couriers>)Model)
                                {
                                    <tr>
                                        <td>@item.date.Value.ToShortDateString().Replace(".","/")</td>
                                        <td>@item.postType</td>
                                        <td>@item.count Adet</td>
                                        <td>
                                            @item.Payments.paymentType
                                        </td>
                                        <td>
                                            @item.Payments.totalCost
                                        </td>
                                        <td class="text-right">
                                            <span class="label @if (item.status == "Onaylandı") { @("label-success") }else if (item.status == "İptal") { @("label-danger") }else if (item.status == "Bekliyor") { @("label-warning") }">@item.status</span>
                                            <button onclick="detay(@item.courierID)" class="btn blue-btn btn-xs"><i class="fa fa-search" aria-hidden="true"></i> Detay</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detay" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detay</h4>
            </div>
            <div class="modal-body">

                <table class="table table-vertical">
                    <tr>
                        <th>İşlem Tarihi</th>
                        <th>:</th>
                        <td id="PaymentDate"></td>
                    </tr>
                    <tr>
                        <th>Gönderen Bilgileri</th>
                        <th>:</th>
                        <td>
                            <strong>İsim / Ünvan :</strong> <span id="PaymentNameSurname"></span><br>
                            <strong>Telefon :</strong><span id="PaymentTelefon"></span> <br>
                            <strong>TC No / Vergi D. - Vergi No :</strong> <span id="PaymentTcNumTaxNum"></span><br>
                            <strong>Adres :</strong> <span id="PaymentFromAddress"></span>
                        </td>
                    </tr>
                    <tr id="recievers"></tr>
                    <tr>
                        <th>İş Emri, Açıklama, Not</th>
                        <th>:</th>
                        <td id="description"></td>
                    </tr>
                    <tr>
                        <th>Gönderi Değeri </th>
                        <th>:</th>
                        <td id="amountOfPost"></td>
                    </tr>
                    <tr>
                        <th>Gönderi İçeriği</th>
                        <th>:</th>
                        <td id="contentOfPost"></td>
                    </tr>
                    <tr>
                        <th>Gönderi Türü</th>
                        <th>:</th>
                        <td id="post"></td>
                    </tr>
                    <tr>
                        <th>Gönderi Adet/Tipi</th>
                        <th>:</th>
                        <td id="postType"></td>
                    </tr>
                    <tr>
                        <th>Ödeme Türü</th>
                        <th>:</th>
                        <td id="paymentType"></td>
                    </tr>
                    <tr>
                        <th>Tutar</th>
                        <th>:</th>
                        <td id="totalCost"></td>
                    </tr>
                </table>

                <div class="text-center">
                    <form action="@Url.Action("reRequest", "Home", new { })" method="post">
                        <input type="hidden" name="courierID" id="courierID" />
                        <button type="submit" class="btn blue-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Gönderiyi Tekrarla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/////|  GEÇMİŞ ÖDEMELERİM SAYFASI  |/////-->