﻿@model IEnumerable<CaparKurye.News>
    @{
        ViewBag.title = ((CaparKurye.Page)ViewBag.page).title;
        ViewBag.description = ((CaparKurye.Page)ViewBag.page).description;
        ViewBag.keywords = ((CaparKurye.Page)ViewBag.page).keywords;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="page">
        <div class="container">
            <div class="news news-list">
                <div class="title">@ViewBag.title</div>
                <hr />
                <div class="content">
                    @foreach (var element in Model)
                    {
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="box">
                                <div class="img" style="background-image:url(@Url.Content("~/public/UploadedFiles/")@element.Pictures.name)">
                                    <div class="date">@(Convert.ToDateTime(element.date).ToString("dd/MM/yyyy"))</div>
                                </div>
                                <div class="title">@element.title<small>@element.subtitle</small></div>
                                <div class="content">@element.summary</div>
                                <a href="haber-detay/@element.newsID" class="btn">Devamını Oku</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
