﻿@model CaparKurye.News
    @{
        ViewBag.Title = Html.Raw(Model.title) + ", Haberler";
        ViewBag.description = ((CaparKurye.Page)ViewBag.page).description;
        ViewBag.keywords = ((CaparKurye.Page)ViewBag.page).keywords;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="page">
        <div class="container">
            <div class="news-detail">
                <div class="img" style="background-image:url(@Url.Content("~/public/UploadedFiles/")@Html.DisplayFor(model => model.Pictures.name));">
                    <div class="shadow">@(Convert.ToDateTime(Model.date).ToString("dd/MM/yyyy"))</div>
                </div>
                <div class="content">
                    <h3>@Html.DisplayFor(model => model.title)<br><small>@Html.DisplayFor(model => model.subtitle)</small></h3>
                    @Html.Raw(Model.content)
                </div>
                <div class="content-bottom">
                    @if ((int)ViewBag.previous != 0)
                    {<i class="fa fa-long-arrow-left" aria-hidden="true" onclick="location.href='/haber-detay/@ViewBag.previous'"></i>}
                    <div class="social">
                        <a href="http://www.facebook.com/sharer.php?u=http://caparkurye.com.tr@( HttpContext.Current.Request.RawUrl)" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/share" target="_blank" data-url="http://caparkurye.com.tr@( HttpContext.Current.Request.RawUrl)" data-lang="tr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="http://www.linkedin.com/shareArticle?url=http://caparkurye.com.tr@( HttpContext.Current.Request.RawUrl )" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://www.pinterest.com/pin/create/button/?url=http://caparkurye.com.tr@( HttpContext.Current.Request.RawUrl)&media=http://caparkurye.com.tr/admin/upload/haber/@Url.Content("~/public/UploadedFiles/")@Html.DisplayFor(model => model.Pictures.name)&description=@Html.DisplayFor(model => model.title)" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/share?url=http://caparkurye.com.tr@( HttpContext.Current.Request.RawUrl) " target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="whatsapp://send?text=http://caparkurye.com.tr@( HttpContext.Current.Request.RawUrl )" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </div>
                    @if ((int)ViewBag.next != 0)
                    {<i class="fa fa-long-arrow-right" aria-hidden="true" onclick="location.href='/haber-detay/@ViewBag.next'"></i>}
                </div>

            </div>
        </div>
    </div>
