﻿@{
    ViewBag.Title = "Kurye Çağır - Çapar Kargo ve Kurye";
}

<!--/////|  KURYE ÇAĞIR SAYFASI  |/////-->

@Scripts.Render("~/public/js/jquery-ui.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.js"></script>
@Scripts.Render("~/public/js/formControl.js")
@Scripts.Render("~/public/js/calculation.js")
@Scripts.Render("~/public/js/jquery.mask.js")
<script type="text/javascript">
    function post(pay, type) {
            $(".lock").each(function () {
                $(this).prop("disabled", true);
            })
            var recievers = [];
            $(".recipientTemplate>li").each(function () {

                var reciever = {
                    nameSurname: $(this).find(".nameSurname").val(),
                    phone: $(this).find(".phone").val(),
                    TCNumTaxNum: $(this).find(".TCNumTaxNum").val(),
                    toDistrict: $(this).find("select").val(),
                    toAddress: $(this).find(".Semt").val()
                };
                recievers.push(reciever);
            })


            var CreditCard = {
                cardOwnerNameSurname: $("#cardName").val(),
                cardNumber: $("#cardNo").val(),
                cardExpiryDate: $("#cardMonth").val() + "/" + $("#cardYear").val(),
                cvcCode: $("#cardCvc").val()
            };

            var payment = {
                paymentType: (pay + " " + type).trim(),
                paymentStatus: "Ödenmedi",
                cost: ((pay != "Teklif") ? parseFloat($("#totalnonekdv").text()).toFixed(2) : 0),
                tax: ((pay != "Teklif") ? parseFloat($("#totalkdv").text()).toFixed(2) : 0),
                totalCost: ((pay != "Teklif") ? parseFloat($("#totalPrice").text()).toFixed(2) : 0),
                accountID: ((pay == "Havale") ? $('#havale input:checked').val() : null),
                creditCardID: null
            };

            var data = {
                nameSurname: $('#senderName').val().trim(),
                phone: $('#phone').val().trim(),
                TCNumTaxNum: $('#TCNumTaxNum').val().trim(),
                fromDistrict: $('#NerdenIlce').val().trim(),
                fromAddress: $('#Nerden').val().trim(),
                post: $('#GonderiTuru option:selected').text().trim(),
                postType: $('#GonderiTipi').val().trim(),
                count: $('#GonderiAdet').val().trim(),
                description: $('#description').val().trim(),
                amountOfPost: $('#range').val().trim(),
                contentOfPost: $('#contentOfPost').val().trim(),
                status:"Bekliyor",
                CourierRecievers: recievers
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("RequestCourier", "Home", null, Request.Url.Scheme)",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { couriers: data, payments: payment, creditcard: CreditCard},
                success: function (d) {
                    $(".lock").each(function () {
                        $(this).prop("disabled", false);
                    })
                    if (d.code == 200) {
                        $("#courierContainer").html('<div class="alert alert-success" role="alert">' + d.message + '</div>');
                        setInterval(function () { location.href = d.url }, 1500);
                    } else {
                        $("#courierContainer").append('<div class="alert alert-danger" role="alert">' + d.message + '</div>');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });
        }

        function formatDate(date) {

            var day = date.getDate();
            var monthIndex = date.getMonth() + 1;
            var year = date.getFullYear();
            var hour = date.getHours();
            var minute = date.getMinutes();

            return day + '/' + monthIndex + '/' + year + ' ' + hour + ':' + minute;
        }

	function courierForm(pay,type){
			if (formControl("#courierContainer")) {
				var returnStatus = true;
				if(pay == "Havale") {
				    // Checked Control
				    var say = 0;
				    $(".requiredCheck").each(function () {
				        if ($(this).find("input").prop("checked")) {
				        	say++;
				        }
				        if(say == 0){
							alertBox("Lütfen ödeme yaptığınız bankayı seçiniz.");
    						returnStatus = false;
				        }
				        else if(say > 1){
							alertBox("Lütfen en fazla 1 banka seçiniz.");
    						returnStatus = false;
				        }
				    });
				    // Checked Control
				}

				if(returnStatus){
				// Success
                    post(pay, type);
				//
				}
			} else {
				alertBox("Lütfen işaretli alanları doldurunuz.");
			}

	}

	function alertBox(text){
		var box = $("#alertBox");
		box.html(text).hide().show();
		if($("html").scrollTop() > 0){
		 $("html").animate({scrollTop:box.offset().top - 60}, 500);
		}
	}

    $(window).load(function () {
        $("#havale input:checkbox").on('click', function () {
            $("#havale input:checkbox").each(function (k,v) {
                $(v).prop("checked", false);
            });
            $(this).prop("checked", true);
        });

		$("#cardCvc").focus(function(){
			$(".card").removeClass("active");
			$("#cardBack").addClass("active");
		});
		$("#cardCvc").focusout(function(){
			$(".card").removeClass("active");
			$("#cardFront").addClass("active");
		});



		$("#cardNo").keyup(function(){

			var data = $(this).val();

			$(".cardNo").html(data);

		});
		$("#cardNo").mask('0000 0000 0000 0000');

		$("#cardName").keyup(function(){
			$(".cardName").html($(this).val());
		});
		$("#cardMonth").change(function(){
			$(".cardMonth").html($(this).val());
		});
		$("#cardYear").change(function(){
			$(".cardYear").html($(this).val());
		});
		$("#cardCvc").keyup(function(){
			$(".cardCvc").html($(this).val());
		});
        });
</script>
@if (TempData["Courier"] != null)
{
    <script>
        var datas = @Html.Raw(@TempData["Courier"]);
        datas = datas[0];
        
        $(window).load(function () { fillData(); });
        
        function fillData() {
            $('#senderName').val(datas.nameSurname);
            $('#phone').val(datas.phone);
            $('#TCNumTaxNum').val(datas.tcNumTaxNum);
            $('#NerdenIlce').val(datas.fromDistrict).selectpicker("refresh");
            $('#Nerden').val(datas.fromAddress);

            $('#NerdenIlce').parent().hide();
            $('#Nerden').parent().addClass("active");
            $('#GonderiTuru').val(datas.post).selectpicker("refresh");
            $('#GonderiTipi').val(datas.postType).selectpicker("refresh");
            $('#GonderiAdet').val(datas.count);
            $('#description').val(datas.description);
            $('#range').val(datas.amountOfPost).change();
            $('#contentOfPost').val(datas.contentOfPost);
            $('#recipient1').remove();
            
            $(datas.CourierRecievers).each(function (key, val) {
                var number = key + 1;
                var clone = $("#recipientTemplate").clone();
                $(clone).attr("id", "recipient" + number);
                $(clone).find(".Ilce").attr("id", "Ilce" + number);
                $(clone).find("#Ilce" + number).selectpicker("val",val.toDistrict).selectpicker("refresh");
                $(clone).find(".nameSurname").val(val.nameSurname);
                $(clone).find(".phone").val(val.phone);
                $(clone).find(".TCNumTaxNum").val(val.TcNumTaxNum);
                $(clone).find(".Semt").val(val.toAddress);
                $(clone).find(".Semt").parent().hide();
                $(clone).find(".Semt").parent().next(".district").addClass("active");
                $(clone).show();
                $(".recipientTemplate").append(clone);
                cityControl($(clone).find("#Ilce" + number), 'city');
            });
            Control();
        }


    </script>
}

<style>
    .media-object {
        width: 130px;
        height: 90px;
    }
</style>


<!-- map -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kurye Rotası</h4>
            </div>
            <div class="modal-body">

                <div class="row form-group">
                    <div class="col-xs-12 col-sm-4 col-md-3 map-info-box">
                        <div class="map-info">
                            <div class="title">Mesafe</div>
                            <div class="number"><span id="total"></span> <sup>KM</sup></div>
                        </div>
                        <hr>
                        <div class="map-info">
                            <div class="title">Ücret</div>
                            <div class="number"><span id="price"></span> <sup>TL</sup></div>
                        </div>
                    </div>

                    <div class="col-xs-12  col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="map-pin">A</div>
                                <div class="map-address">
                                    <small>Çıkış Birimi</small>
                                    <span>Çapar Kargo ve Kurye</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="map-bar">
                                    <div class="icon">
                                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="AdressContainer"></div>
                        </div>
                    </div>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

<!-- map -->

<div class="page">
    <div class="container" style="max-width:740px;">

        <nav class="navbar navbar-dashed">

            <ul class="nav navbar-nav">
                <li class="active"><a href="kurye-cagir.aspx"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Çağır</a></li>
                <li><a href="gecmis-odemelerim.aspx"><i class="fa fa-history" aria-hidden="true"></i> Geçmiş Ödemelerim</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li><a href="profil.aspx"><i class="fa fa-user-circle" aria-hidden="true"></i> Hesap Bilgilerim</a></li>
            </ul>
        </nav>

        <div class="formtable" id="courierContainer" style="max-width:100%;">
            <div class="row">

                <div class="col-xs-12"><div class="title">Kurye Çağır<br><small>Lütfen girdiğiniz bilgilerin doğruluğundan emin olunuz.</small></div></div>

                <div class="col-xs-12 col-sm-12">
                    <div id="alertBox" class="alert alert-warning" role="alert" style="display:none"></div>


                    <!-- Hesaplama -->
                    <div class="row">
                        <div class="title-bar">Gönderen Bilgileri</div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required">
                                <label>İsim / Ünvan</label>
                                <input type="text" id="senderName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required">
                                <label>Telefon</label>
                                <input type="tel" id="phone" class="form-control numberControl" maxlength="11" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required">
                                <label>TC No / Vergi D. - Vergi No</label>
                                <input type="text" id="TCNumTaxNum" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label>Nerden?</label>
                                <select class="form-control groupselect city selectpicker" id="NerdenIlce" data-live-search="true" title="Seçiniz" onchange="cityControl(this,'city')">
                                    <optgroup label="İzmir">
                                        <option value="İzmir, Aliağa">Aliağa</option>
                                        <option value="İzmir, Balçova">Balçova</option>
                                        <option value="İzmir, Bayraklı">Bayraklı</option>
                                        <option value="İzmir, Bergama">Bergama</option>
                                        <option value="İzmir, Bornova">Bornova</option>
                                        <option value="İzmir, Buca">Buca</option>
                                        <option value="İzmir, Çeşme">Çeşme</option>
                                        <option value="İzmir, Çiğli">Çiğli</option>
                                        <option value="İzmir, Dikili">Dikili</option>
                                        <option value="İzmir, Foça">Foça</option>
                                        <option value="İzmir, Gaziemir">Gaziemir</option>
                                        <option value="İzmir, Güzelbahçe">Güzelbahçe</option>
                                        <option value="İzmir, Karabağlar">Karabağlar</option>
                                        <option value="İzmir, Karaburun">Karaburun</option>
                                        <option value="İzmir, Karşıyaka">Karşıyaka</option>
                                        <option value="İzmir, Kemalpaşa">Kemalpaşa</option>
                                        <option value="İzmir, Konak">Konak</option>
                                        <option value="İzmir, Menderes">Menderes</option>
                                        <option value="İzmir, Menemen">Menemen</option>
                                        <option value="İzmir, Narlıdere">Narlıdere</option>
                                        <option value="İzmir, Seferihisar">Seferihisar</option>
                                        <option value="İzmir, Tire">Tire</option>
                                        <option value="İzmir, Torbalı">Torbalı</option>
                                        <option value="İzmir, Urla">Urla</option> 
                                    </optgroup>
                                </select>
                                <div class="input-group bootstrap-select form-control district dropup">
                                    <div data-toggle="tooltip" data-placement="bottom" title="İlçe Değiştir" class="input-group-addon" onclick="cityControl(this,'district')"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
                                    <input type="text" name="nerden" id="Nerden" class="form-control" placeholder="Mahalle, Sokak, Kapı No" onchange="Control()" />
                                </div>
                            </div>
                        </div>

                        <div class="title-bar">Alıcı Bilgileri</div>

                        <li style="display: none;" id="recipientTemplate">
                            <div class="recipientRemove" onclick="recipientRemove(this)"><i class="fa fa-times" aria-hidden="true"></i> KALDIR</div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group required">
                                    <label>İsim / Ünvan</label>
                                    <input type="text" class="form-control nameSurname" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group required">
                                    <label>Telefon</label>
                                    <input type="tel" class="form-control numberControl phone" maxlength="11" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group required">
                                    <label>TC No / Vergi D. - Vergi No</label>
                                    <input type="text" class="form-control TCNumTaxNum" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group" id="singleContainer">
                                    <label>Adres</label>
                                    <select class="form-control groupselect city Ilce" data-live-search="true" title="Seçiniz" onchange="cityControl(this,'city')">
                                        <optgroup label="İzmir">
                                            <option value="İzmir, Aliağa">Aliağa</option>
                                            <option value="İzmir, Balçova">Balçova</option>
                                            <option value="İzmir, Bayraklı">Bayraklı</option>
                                            <option value="İzmir, Bergama">Bergama</option>
                                            <option value="İzmir, Bornova">Bornova</option>
                                            <option value="İzmir, Buca">Buca</option>
                                            <option value="İzmir, Çeşme">Çeşme</option>
                                            <option value="İzmir, Çiğli">Çiğli</option>
                                            <option value="İzmir, Dikili">Dikili</option>
                                            <option value="İzmir, Foça">Foça</option>
                                            <option value="İzmir, Gaziemir">Gaziemir</option>
                                            <option value="İzmir, Güzelbahçe">Güzelbahçe</option>
                                            <option value="İzmir, Karabağlar">Karabağlar</option>
                                            <option value="İzmir, Karaburun">Karaburun</option>
                                            <option value="İzmir, Karşıyaka">Karşıyaka</option>
                                            <option value="İzmir, Kemalpaşa">Kemalpaşa</option>
                                            <option value="İzmir, Konak">Konak</option>
                                            <option value="İzmir, Menderes">Menderes</option>
                                            <option value="İzmir, Menemen">Menemen</option>
                                            <option value="İzmir, Narlıdere">Narlıdere</option>
                                            <option value="İzmir, Seferihisar">Seferihisar</option>
                                            <option value="İzmir, Tire">Tire</option>
                                            <option value="İzmir, Torbalı">Torbalı</option>
                                            <option value="İzmir, Urla">Urla</option> 
                                        </optgroup>
                                    </select>
                                    <div class="input-group bootstrap-select form-control district dropup">
                                        <div data-toggle="tooltip" data-placement="bottom" title="İlçe Değiştir" class="input-group-addon" onclick="cityControl(this,'district')"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
                                        <input type="text" name="nereye" class="form-control Semt" placeholder="Mahalle, Sokak, Kapı No" onchange="Control()" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <ol class="col-xs-12 col-sm-12 recipientTemplate"></ol>

                        <div class="col-xs-12 col-sm-12 text-center" id="recipientAddBtn">
                            <div class="btn btn-default btn-sm" onclick="recipientAdd()"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Ekle</div>
                        </div>


                        <div class="title-bar">Gönderi Bilgileri</div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group requiredSelectpicker">
                                <label>Gönderi Türü</label>
                                <select class="form-control selectpicker" title="Seçiniz" id="GonderiTuru" onchange="Control();">
                                    <option>Normal</option>
                                    <option value="Acil">Acil Kurye</option>
                                    <option value="Imzalı">İmzalı Gönderim</option>
                                    <option value="Teklif">Özel Gün Kuryesi</option>
                                    <option value="Teklif">Dağıtım Hizmeti</option>
                                    <option value="Teklif">Kurye Kiralama</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group requiredSelectpicker">
                                <label>Gönderi Tipi</label>
                                <select class="form-control selectpicker" title="Seçiniz" id="GonderiTipi" onchange="Control();">
                                    <option value="Dosya" data-fiyat="0">Dosya</option>
                                    <option value="5 KG Altı Paket" data-fiyat="1" data-subtext="- 5 kg altı">Paket</option>
                                    <option value="5 KG Üstü Paket" data-fiyat="Teklif" data-subtext="- 5 kg üstü">Paket</option>
                                    <option value="Koli" data-fiyat="Teklif">Koli</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group required">
                                <label>Adet</label>
                                <input type="number" class="form-control" min="1" value="1" id="GonderiAdet" onchange="Control();">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group required">
                                <label>İş Emri, Açıklama, Not</label>
                                <textarea id="description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group required">
                                <label>
                                    Gönderi Değeri
                                    <br><small>*Gönderileriniz en fazla 1000 TL'ye kadar sigortalanmaktadır.</small>
                                </label>
                                <input id="range" type="range" min="0" max="1000" value="0">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group required">
                                <label>Gönderi İçeriği</label>
                                <textarea id="contentOfPost" class="form-control" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="title requiredText">
                                <small>
                                    <div class="slideThree"><input type="checkbox" id="contract"><label for="contract"></label></div>
                                    <span><a href="#" data-toggle="modal" data-target="#contractModal">Hizmet sözleşmesini</a> okudum onaylıyorum.</span>
                                </small>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 paymentContainer" style="display: none;">

                            <hr>
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="btn rota-btn" onclick="mapModal()">Rotayı Göster</div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3"><div class="payment-title"><small>TOPLAM <span id="Indırım">(%5 indirim)</span></small><span id="totalnonekdv"></span> TL</div></div>
                            <div class="col-xs-4 col-sm-3 col-md-3"><div class="payment-title"><small>KDV %18</small><span id="totalkdv"></span> TL</div></div>
                            <div class="col-xs-4 col-sm-3 col-md-3"><div class="payment-title"><small>GENEL TOPLAM</small><span id="totalPrice"></span> TL</div></div>

                            <hr>
                        </div>
                        <div class="col-xs-12 text-center" id="notfound" style="display: none;">
                            <h4><i class='fa fa-frown-o'></i> Üzgünüz</h4>
                            Girdiğiniz adres bulunamadı.
                        </div>
                        <div class="col-xs-12 text-center" id="bid" style="display: none;">
                            <h4>Fiyat Teklifi Alınız</h4> <button class='btn blue-btn lock' onclick="courierForm('Teklif','')">Biz Sizi Arayalım</button>
                        </div>
                    </div>

                    <!-- Hesaplama -->
                    <!-- Ödeme -->

                    <div class="row paymentContainer" style="display: none;">
                        <div class="col-xs-12 col-sm-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" style="display:none"><a href="#kredikarti" aria-controls="kredikarti" role="tab" data-toggle="tab">Kredi Kartı</a></li>
                                <li role="presentation" class="active"><a href="#havale" aria-controls="havale" role="tab" data-toggle="tab">Havale</a></li>
                                <li role="presentation"><a href="#kapidaodeme" aria-controls="kapidaodeme" role="tab" data-toggle="tab">Kapıda Ödeme</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="kredikarti">

                                <!-- kredi kartı -->
                                <div class="col-xs-12 col-sm-6">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group required">
                                                <label>Kart Sahibinin Adı Soyadı</label><input type="text" class="form-control" id="cardName">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group required">
                                                <label>Kart Numarası</label><input type="text" class="form-control numberControl" maxlength="16" id="cardNo">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Son Kullanma Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group-btn requiredSelectpicker">
                                                        <select class="form-control selectpicker" title="Ay" id="cardMonth">
                                                            <option value="01">1</option>
                                                            <option value="02">2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06">6</option>
                                                            <option value="07">7</option>
                                                            <option value="08">8</option>
                                                            <option value="09">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group-btn requiredSelectpicker">
                                                        <select class="form-control selectpicker" title="Yıl" id="cardYear">
                                                            <option value="17">2017</option>
                                                            <option value="18">2018</option>
                                                            <option value="19">2019</option>
                                                            <option value="20">2020</option>
                                                            <option value="21">2021</option>
                                                            <option value="22">2022</option>
                                                            <option value="23">2023</option>
                                                            <option value="24">2024</option>
                                                            <option value="25">2025</option>
                                                            <option value="26">2026</option>
                                                            <option value="27">2027</option>
                                                            <option value="28">2028</option>
                                                            <option value="29">2029</option>
                                                            <option value="30">2030</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group pull-left required">
                                                <label>CVC Kodu</label><input type="text" class="form-control numberControl" id="cardCvc" maxlength="4" style="max-width:100px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 cardContainer">
                                    <div class="card active" id="cardFront">
                                        <div class="cardBrand">KREDİKARTI</div>
                                        <div class="cardNo">0000 0000 0000 0000</div>
                                        <div class="cardDate"><span class="cardMonth">00</span>/<span class="cardYear">00</span></div>
                                        <div class="cardName">İSİM SOYİSİM</div>
                                    </div>
                                    <div class="card" id="cardBack">
                                        <div class="cardCvc">000</div>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12 text-center"><button class="btn blue-btn lock" onclick="courierForm('Kredi Kartı','')">Ödeme Yap</button></div>
                                <!-- kredi kartı -->

                            </div>
                            <div role="tabpanel" class="tab-pane active" id="havale">

                                <div class="col-xs-12 col-sm-12">
                                    @if (ViewBag.bankAccounts != null)
                                    {
                                        foreach (var element in (List<BankAccounts>)ViewBag.bankAccounts)
                                        {
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="slideThree"><input type="checkbox" name="bankCheck" value="@element.accountID" id="bankCheck@(element.accountID)"><label for="bankCheck@(element.accountID)"></label></div>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">@element.bankName</h4>
                                                    <strong>IBAN :</strong> @element.ibanCode<br>
                                                    <strong>ŞUBE KODU :</strong> @element.branchCode <strong>HESAP NUMARASI :</strong> @element.accountCode
                                                    <br>
                                                </div>
                                                <div class="media-right">
                                                    <img class="media-object" src="@Url.Content("~/public/UploadedFiles/")@element.Pictures.name">
                                                </div>
                                                <hr>
                                            </div>
                                        }
                                    }
                                </div>

                                <div class="col-xs-12 col-sm-12 text-center">
                                    <button class="btn blue-btn lock" onclick="courierForm('Havale','')">Ödemeyi Bildir</button>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="kapidaodeme">
                                <div class="col-xs-12">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kapıda Ödeme</h4>
                                            <p>Kapıda ödeme seçeneği ile kapıda ödeme yapabilme avantajı sadece çapar kuryede! </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 text-center">
                                    <button class="btn blue-btn lock" onclick="courierForm('Kapıda Ödeme','Kredi Kartı')">Kredi Kartı ile Öde</button>
                                    ya da
                                    <button class="btn blue-btn lock" onclick="courierForm('Kapıda Ödeme','Nakit')">Nakit Öde</button>
                                </div>
                            </div>
                        </div>
                        <!-- Ödeme -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contractModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Hizmet Sözleşmesi</h4>
            </div>
            <div class="modal-body scroll">
                @Html.Raw(@ViewBag.ServiceAgreement)
            </div>
        </div>
    </div>
</div>

<!--/////|  KURYE ÇAĞIR SAYFASI  |/////-->
