﻿@{
    ViewBag.title = ((CaparKurye.Page)ViewBag.page).title;
    ViewBag.description = ((CaparKurye.Page)ViewBag.page).description;
    ViewBag.keywords = ((CaparKurye.Page)ViewBag.page).keywords;
}

<div class="page">
    <div class="container">
        <div class="title">@(((CaparKurye.Page)ViewBag.page).title)</div>
        <div class="content">@(Html.Raw(((CaparKurye.Page)ViewBag.page).content))</div>
    </div>
</div>

