﻿@model CaparKurye.Pictures

@{
    ViewBag.Title = "Resimler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-picture-o" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">

@using (Html.BeginForm("Create", "Pictures", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Resim Yükle", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="file" name="file" id="file" class="form-control" accept="image/*" style="width: 100%;" />
                    </div>
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-success pull-left" />
                    </div>
                </div>

            }
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })
                </div>
            </div>

        </div>

    </div>
</div>