body{font-family: 'Roboto', sans-serif;}

*::-webkit-scrollbar-track
{
	background-color: #fff;
}

*::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #fff;
}

*::-webkit-scrollbar-thumb
{
	background-color: #e2e2e2;
}

/* Not Programing */
/*header .rightbar .buttons{display:none!important;}
header .rightbar .phone{margin-top:17px;}
.mobil-menu .buttons{display:none!important;}*/

/* Error Css */
.required{position: relative;}
.error::before,.emailError::before{content:"x"; color: red; margin-right: 5px; animation:flash 1s;     position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 17px;}
.error .form-control,.emailError .form-control{padding-right:25px;}
.errorText::before{content:"x";color: red; margin: -3px 2px; padding-right: 5px; animation: flash 1s; float: left; font-size: 17px; font-weight: bold;}
.requiredText{position:relative;}
.requiredSelectpicker.error::before{ display: none; }
.requiredSelectpicker.error .form-control{padding-right:0px;}
.requiredSelectpicker.error .bootstrap-select>button .caret{right: 30px}
.requiredSelectpicker.error .bootstrap-select::before{content:"x"; color: red; margin-right: 5px; animation:flash 1s; z-index:90; font-size: 17px;  position: absolute; top:10px; right:5px;}
.requiredSelectpicker select{ display: none!important;}

.w-100{width: 100%;}
.w-100.btn{padding: 5px 2px!important;}
label small{color:#979797;}


.imzaliGonderimIcon{display: none;}


.small-btn{cursor: pointer; font-size:10px; user-select: none;}
.small-btn:after{content:"Aktif Değil";
    display: inline-block;
    padding: 2px 0px;
    font-weight: bold;
    color:#ff647b;
}
.small-btn.active:after{content:"Aktif";
    font-weight: bold;
    color:#4caf50;}

.login-on{display: block;}
.login-off{display: none;}

.slideThree input {display: none;}
.slideThree {width: 40px;height: 20px;background: #fff;border: solid 1px #d7d7d7;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;position: relative;float:left;margin-right: 10px;}
.slideThree:after { position: absolute;  right: 10px;  z-index: 0; }
.slideThree:before { position: absolute; left: 10px; z-index: 0; }
.slideThree label {display: block;width: 14px;height: 14px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-o-transition: all .4s ease;-ms-transition: all .4s ease;transition: all .4s ease;cursor: pointer;position: absolute;top: 2px;left: 3px;z-index: 1;background: #a4a4a4;}
.slideThree input[type=checkbox]:checked + label {left: 22px; background: #42516d;}
.slideThree+span{font-size:13px;}

.navbar-dashed{border:dashed 1px #595959; color:#595959; overflow: hidden; margin: 0px;}
.navbar-dashed a{color:#595959!important; border:1px dashed transparent ; margin: -1px;}
.navbar-dashed a:hover,.navbar-dashed a:focus,.navbar-dashed .active a{background-color: #ddd; background-color:#fbfbfb!important; border: dashed 1px #cecece; margin: -1px;}


.groupselect.bootstrap-select .opt .text{margin-left:-15px;}
.groupselect.bootstrap-select .opt .text-muted{width: 100%;float: left; margin-left: -5px; font-size: 9px;}
.groupselect.bootstrap-select .form-control{max-width: 100%!important;}

#map {height:50vh;display: inline-block;width: 100%;}

/*
.groupselect.bootstrap-select .dropdown-menu li{display: block;}
.groupselect.bootstrap-select .dropdown-menu li.show{display:none;}
*/
.groupselect.bootstrap-select .dropdown-menu li .text{ white-space: normal; max-width:100%;}
.groupselect.bootstrap-select .dropdown-menu li.dropdown-header{display: block!important; cursor: pointer; padding: 5px 10px!important;}
.groupselect.bootstrap-select .dropdown-menu li.dropdown-header:hover{background: #fafafa;}
.groupselect.bootstrap-select .dropdown-menu li.dropdown-header:after{content: "▾"; position: absolute; right:10px;}


.table thead{ background-color: #42516d; color: #fff;}
.table tbody tr{min-width:100%!important;width:100%!important}
.table tbody tr:nth-child(odd){background-color:#fbfbfb;}
.table tbody tr:nth-child(even){background-color:#fff;}
.table tbody tr:hover{background-color:#f1f1f3;}

.table-vertical tr:nth-child(1){border-top:solid 2px #fff;}
.table-vertical tr{background-color:#fff!important;}

.table .label{font-size: 11px; padding: 5px 7px; font-weight: normal;}

.list-table{ padding-left:15px; cursor: move;}
.list-table li{width: 100%; list-style:decimal;
    padding: 5px 10px;
    border: solid 1px #ddd;
    margin-top: -1px;background-color:#fff;}
.list-table li:hover{background-color:#fbfbfb;}
.list-table li .remove{float: right;cursor: pointer; padding: 2px;}
.list-table li .remove:hover{color:#ff647b; }
.list-table li.ui-sortable-helper{list-style:none; border:dashed 1px #ddd; opacity: 0.8;}

.nav-tabs{margin-bottom:30px;}
.nav-tabs>li>a:hover{background: #fbfbfb!important;}
.nav-tabs>li>a{color:#525251;}

.title-bar{
    border-bottom: dashed 1px #b5b5b5;
    border-top: dashed 1px #b5b5b5;
    padding: 5px 25px;
    margin: 10px -10px;
    margin-bottom: 20px;
    width: calc(100% + 20px);
    background: #145375;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
}
.title-bar .btn{
    float: right;
    font-size: 11px;
    padding: 5px 0px;
    line-height: 0px;
    box-shadow: none;}
.title-bar .btn:hover{color:#ff647b;}

.recipientTemplate{display: inline-block;}
.recipientTemplate>li{
    position: relative;
    background-color:#fff;
    cursor: move;
    border: solid 1px #ddd;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    float: left;
    width: calc(100% - 10px);
}
.recipientTemplate>li:nth-last-child(1){ margin-bottom: 0px; }
.recipientTemplate>li:hover{border: solid 1px #aeaeae;}
.recipientTemplate>li:before{width: 100%; display: inline-block; content:"";}

.recipientRemove{
    position: absolute;
    bottom: 8px;
    padding: 5px 3px;
    left: -30px;
    font-size: 8px;
    font-weight: 700;
    cursor: pointer;
    color: #626262;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg); /* Standard syntax */
}
.recipientTemplate>li:hover .recipientRemove{color:#ff647b;}


.rangeslider, .rangeslider__fill { background-color: #2196f3;  border-radius:10px;}
.rangeslider { height:10px;max-width: 100%; margin-top:15px;background-color: #fbfbfb; position: relative;
-webkit-box-shadow: inset 0px 0px 0px 1px rgba(221,221,221,1);
-moz-box-shadow: inset 0px 0px 0px 1px rgba(221,221,221,1);
box-shadow: inset 0px 0px 0px 1px rgba(221,221,221,1); }
.rangeslider__fill {
    border: solid 1px #d2556c;
    background-color: #ff647b;
    position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
    top: -8px!important;
    height: 24px;
    font-size: 11px;
    border-radius: 10px;
    min-width: 52px;
    line-height: 24px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    position: absolute;
  
}
.rangeslider__handle:after {display: none;}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}


header{
 width:100%; height:130px;
 display:inline-block;
 position:relative;
 background: #092a43;
 background: -moz-linear-gradient(top, #092a43 1%, #072135 100%);
 background: -webkit-linear-gradient(top, #092a43 1%,#072135 100%);
 background: linear-gradient(to bottom, #092a43 1%,#072135 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092a43', endColorstr='#072135',GradientType=0 );
}
header:before{
 position:absolute;
 bottom:0px;
 content:"";
 width:100%; height:6px;
 display:inline-block;
 background: #b67c1b;
 background: -moz-linear-gradient(left, #b67c1b 0%, #ffe76a 50%, #b67c1b 100%);
 background: -webkit-linear-gradient(left, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
 background: linear-gradient(to right, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b67c1b', endColorstr='#b67c1b',GradientType=1 );
}

header .logo{ width:223px; height:170px; position:relative; left: -25px; bottom: -20px; z-index:2; float: left; }
header .logo img{width:100%;}
header .menu-icon{display: none;}

header .rightbar{width:calc(100% - 223px);  float: right;}
header .rightbar .top{height: 130px; width: 100%;}
header .rightbar .top .left-menu{color:#fff; font-size: 18px; margin-top: 75px; float: left;}
header .rightbar .top .left-menu a{color:#fff; text-decoration: none; padding:5px 10px}
header .rightbar .top .left-menu a:hover{color:#efbc41;}
header .rightbar .top .right-menu{color:#fff; float: right; padding:25px;}

header .rightbar .top .right-menu .phone{font-size: 18px; text-align: center; line-height: 22px;}
header .rightbar .top .right-menu .phone strong{font-size: 24px;}
header .rightbar .top .right-menu .buttons .btn{ color: #fff; padding: 3px 5px 1px 5px; font-size: 13px;  min-width: 48%; display: inline-block; margin-top: 8px; border-radius: 2px; }
header .rightbar .top .right-menu .buttons .btn.login{background-color: #00baff; float: left;}
header .rightbar .top .right-menu .buttons .btn.register{background-color: #efbc41; float: right;}

header .rightbar .bottom{ color: #686868; position: relative; z-index: 2;width: 100%; padding: 10px 15px;}
header .rightbar .bottom .announcement{ float: left; width:calc(100% - 100px); font-size: 13px; margin-left: -35px; overflow: hidden;height: 17px;position: relative;}

header .rightbar .bottom .announcement .display{display: none; position:absolute;animation:flipInX 1s; -webkit-animation:flipInX 1s;}
header .rightbar .bottom .announcement .announcementgroup{float: left;}
header .rightbar .bottom .announcement .announcementgroup .display:nth-child(1){display: inline;}

header .rightbar .bottom .announcement .glyphicon {margin-right: 10px; float: left;}
header .rightbar .bottom .social{ float: right; width: 100px; padding-right:10px; text-align: right;font-size: 16px;}
header .rightbar .bottom .social .fa{margin-left:2px; color:#686868;}
header .rightbar .bottom .social .fa:hover{color:#00baff;}


.mobil-menu{ visibility: hidden; animation:fadeOutRight 0.5s; transition:visibility 0.5s; position: fixed; background-color: #092a43; color: #fff; text-align: center; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 999;}
.mobil-menu.active{ visibility:visible; animation:fadeInRight 0.5s; transition:visibility 0.5s;}

.mobil-menu.active:before {
    position: absolute;
    top: 50px;
    left: 0px;
    content: "";
    width: 100%;
    height: 6px;
    display: inline-block;
    background: #b67c1b;
    background: -moz-linear-gradient(left, #b67c1b 0%, #ffe76a 50%, #b67c1b 100%);
    background: -webkit-linear-gradient(left, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
    background: linear-gradient(to right, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b67c1b', endColorstr='#b67c1b',GradientType=1 );
}
.mobil-menu.active:after {
    position: absolute;
    bottom: -1px;
    left: 0px;
    content: "";
    width: 100%;
    height: 6px;
    display: inline-block;
    background: #b67c1b;
    background: -moz-linear-gradient(left, #b67c1b 0%, #ffe76a 50%, #b67c1b 100%);
    background: -webkit-linear-gradient(left, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
    background: linear-gradient(to right, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b67c1b', endColorstr='#b67c1b',GradientType=1 );
}
.mobil-menu .logo{ width: 100px; margin: auto; position: relative; top: 10px; z-index: 1;}
.mobil-menu .logo img{width: 100%;}
.mobil-menu .menu-icon{ position: absolute; top: 0px;  right: 0px; padding: 12px; font-size: 26px; color: #f7db61; cursor: pointer;}
.mobil-menu .menu{ background-color: #fff; width: 100%; height: calc(100% - 60px); padding: 10px; padding-top: 20px; margin-top: -20px; overflow:auto;}
.mobil-menu .menu .link a{ width: 100%; color: #949dad; text-decoration: none; font-size: 16px; display: inline-block; padding: 5px; border-top: dashed 2px #f5f5f5; }
.mobil-menu .menu .buttons{width: 100%; max-width: 190px; margin: 20px auto; display: inline-block;}
.mobil-menu .menu .buttons .btn{ color: #fff; padding: 5px 5px 4px 5px; font-size: 14px; min-width: 48%; display: inline-block; margin-top: 8px; border-radius: 2px;}
.mobil-menu .menu .buttons .btn.login{background-color: #00baff; float: left;}
.mobil-menu .menu .buttons .btn.register{background-color: #efbc41; float: right;}


.cloud{ animation:fadeIn 1s; -webkit-animation:fadeIn 1s; background-image:url(../img/cloud-bg.jpg); background-color: #8bc2e1; background-repeat: repeat-x; background-position: top center;  width: 100%; min-height: 548px; display: inline-block; position:relative; }
.calculation{ width:100%; margin-right: auto; margin-left: auto; margin-top:250px; max-width:940px;}
.calculation .animation{ position:relative; width:100%; max-width: 700px; margin: auto;height:130px;}
.calculation .animation .pin{ position:absolute; display:inline-block; width:63px; height:84px;}
.calculation .animation .pin:before{content:"";  background:url(../img/pin-question.png) center no-repeat; width:63px; height:84px; display:inline-block; left: 0px; right: 0px; top:10px; position: absolute; animation:bounce 1s; }
.calculation .animation .pin.active:before{content:"";  background:url(../img/pin-success.png) center no-repeat; animation:flipInY 1s;}
.calculation .animation .pin:after{content:""; width: 20px; height: 3px; background-color: #000; opacity: 0.3; border-radius: 50%; margin: auto; bottom: -17px; left: 0px; right: 0px; position: absolute; animation:rubberBand 1s;}
.calculation .animation .pin.one{left:0px;}
.calculation .animation .pin.two{right:0px;}
.calculation .animation .way{border-bottom: 3px #fff dashed; width: 80%; margin: auto; height: 100px; display: inline-block; left: 0px; right: 0px; position: absolute;}
.calculation .animation .way .motorcycle{ background:url(../img/motorcycle.png) center no-repeat; position:absolute; display:inline-block; width:74px; height:52px; left:0px; bottom:3px;}
.calculation .animation .way .motorcycle.active{left:calc(100% - 74px); transition:3s; -webkit-transition:3s;}
.calculation .form-control{ max-width: 225px; margin: auto; font-size: 18px; color: #ff647b; height: auto; border-color: #949dad;}
.form-control.bootstrap-select * {outline: none!important;;}
.form-control.bootstrap-select .dropdown-menu .form-control{font-size:14px!important;}
.calculation .form-control.bootstrap-select{position: absolute; left: 0px; right: 0px; margin: auto!important;}
.form-control.bootstrap-select button{background-color: #fff!important; background:none; font-size:18px; box-shadow: none;border-color: #949dad;}
.bootstrap-select.btn-group .dropdown-menu{padding: 0px;}
.bootstrap-select.btn-group .dropdown-menu .dropdown-header{ margin: 5px 0px; padding: 0px 10px; color: #495a79; font-weight:bold;}
.bootstrap-select.btn-group .dropdown-menu li a{padding: 5px 10px; height: auto;}
.bootstrap-select .dropdown-menu li a:focus, .calculation .bootstrap-select .dropdown-menu li a:hover{background:#fbfbfb;}
.bootstrap-select .dropdown-menu .active a{background:#ff647b!important;}
.bootstrap-select .dropdown-menu .selected a{background:#ff647b!important; color:#fff; border: none;}
.bootstrap-select .dropdown-menu .selected a .text-muted{color:#fff; opacity: 0.8;}
.calculation .total{text-align: center; color: #009d43; font-size: 30px; visibility: hidden;height: 75px;}
.calculation .total.active{ visibility:visible; animation: fadeInUp 1s;}

.calculation .total.active small strong{font-size:18px;}
.calculation .total.active small{ font-size: 14px; color: #42516d; margin-bottom: 10px; display: inline-block;}

.calculation .total .btn{color:#fff; background-color:#42516d; position: relative; padding-right:25px;}
.calculation .total .btn:before{content:""; width:34px; height:34px; position: absolute; right: -15px; top: -1px; background:url(../img/hamlet.png) center no-repeat;}
.calculation .bootstrap-select .dropdown-menu .text{animation: flipInX 1s;}
.calculation>.text{
 animation: fadeInUp 1s;
 text-align: center;
 font-size: 22px;
 color: #495a79;
 text-shadow: 1px 1px 0px #ffffff;
 position: absolute;
 margin: auto;
 left: 0px;
 right: 0px;
 line-height:18px;
}

.calculation #notfound{font-size: 14px;}

.district{display:none!important;}
.district.active{display:block!important; animation: fadeIn 0.5s;}
.district .input-group-addon{
	cursor: pointer;
	position: absolute;
    z-index: 4;
    left: 0px;
    border: solid 1px #154971;
    color: #fff;
    background: #145375;
    font-size: 25px;
    padding: 6px;
    width: 28px;
    height: 39px;
    text-align: center;
}
.district input{
	padding-left: 35px;
    font-size: 15px!important;
    height: 39px!important;
    color:#333!important;
}


.services{padding-top:75px; text-align: center;}
.services .services1 .icon img{animation: slideInLeft 1s;}
.services .services2 .icon img{animation: slideInUp 1s;}
.services .services3 .icon img{animation: slideInLeft 1s;}
.services .services4 .icon img{animation: slideInRight 1s;}
.services .services1:hover .icon img{animation: swing 1s;}
.services .services2:hover .icon img{animation: swing 1s;}
.services .services3:hover .icon img{animation: swing 1s;}
.services .services4:hover .icon img{animation: swing 1s;}

.services .icon{width:70px; height: 70px; border:dashed 2px #6c788d; border-radius:50%; background-color:#fafafa; display: inline-block; margin-bottom: 10px; overflow: hidden;}
.services .icon img{width: 100%; height: 100%;}
.services .title{color:#4d4d4d; font-size: 18px; font-weight: bold; margin-bottom: 10px;}
.services .content{margin-bottom:75px;}


.slider{background-color:#fafafa; border-top:dashed 1px #b5b5b5;border-bottom:dashed 1px #b5b5b5; text-align:center;}
.slider .swiper-container { text-align: left; max-width: 1170px; width: 100%;}
.slider .swiper-container .swiper-wrapper .swiper-slide{width:100%!important; padding:0px 15px;}
.slider .text{margin:100px 0px;}
.slider .title{color:#42516d; font-size: 24px; font-weight: bold; max-width: 250px; line-height:28px;}
.slider .content{color:#868686; font-size: 14px; max-width: 450px; margin-top:10px; max-height: 78px; overflow: hidden;}
.slider .btn{background-color: #42516d; color:#fff; margin-top: 15px;}
.slider .swiper-pagination{width:100%!important; padding:0px 15px; text-align: left; position:absolute; bottom:10px; }
.slider .swiper-pagination-bullet{background-color: #8f8f8f; width: 20px; height: 5px; border-radius: 0px;}
.slider .swiper-pagination-bullet-active{background-color: #42516d;}



.news{margin: 0px auto; width:100%; max-width:1240px; padding:45px;overflow: hidden;}
.news .swiper-container{overflow:visible;}
.news .swiper-container .swiper-button-prev{ -webkit-filter: grayscale(100%); filter: grayscale(100%);
 height: 100%;
 background-color: #fff;
 top: 22px;
 left: -45px;
 width: 40px;
 opacity: 1;
 background-size: 50%;
}
.news .swiper-container .swiper-button-next{ -webkit-filter: grayscale(100%); filter: grayscale(100%);
 height: 100%;
 background-color: #fff;
 top: 22px;
 right: -45px;
 width: 40px;
 opacity: 1;
 background-size: 50%;
 }

.news .box{border:solid 1px #d7d7d7; width: 100%; padding: 10px;}
.news .box .img{
 margin: -11px;
 margin-bottom: 10px; height: 185px; background-position:center; background-size: cover; position:relative; overflow: hidden; }
.news .box .date{
 position: absolute;
 bottom: 0px;
 right: 0px;
 background-color: rgba(0, 0, 0, 0.50);
 color: #fff;
 padding: 4px 8px;
 line-height: 12px;
 font-size: 12px;}

.news .box .title{color:#092942; font-size:16px; font-weight: bold; margin-bottom: 5px;}
.news .box .title small{font-size:13px; color:#42516d;width: 100%; display: inline-block;}
.news .box .content {color:#999999; font-size:13px;}
.news .box .btn{ background-color: #42516d; color: #fff; margin-top: 10px;}


footer{
background-color: #072338;
position: relative; 
margin-top:56px;
padding:30px 0px;
color:#fff;
}
footer:before{content: "";
 position: absolute;
 top:-6px;
 width:100%; height:6px;
 display:inline-block;
 background: #b67c1b;
 background: -moz-linear-gradient(left, #b67c1b 0%, #ffe76a 50%, #b67c1b 100%);
 background: -webkit-linear-gradient(left, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
 background: linear-gradient(to right, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b67c1b', endColorstr='#b67c1b',GradientType=1 );
}
footer .menu{text-align: center; width: 100%; display: inline-block;}
footer .menu a{color:#fff; text-decoration: none; padding:3px 5px}
footer .menu a:hover{color:#efbc41;}
footer .logo{
 position: relative;
 top: -70px;
 margin: auto;
 margin-bottom: -50px;
 left: 0px;
 right: 0px;
 width: 100px;
 height: 77px;
 z-index: 3;}
footer .menu .label{cursor: pointer;}



.page{ margin-top: 75px; margin-bottom: 25px; display: inline-block; width: 100%; padding:20px 0px; animation:fadeIn 1s;    position: relative;
    min-height: calc(100vh - 463px);
}
.page .title{
 font-size: 20px;
 color: #525251;
 margin-bottom: 10px;
 line-height: 20px;
 font-weight: 700;
 font-family: Arial;}
.page .title small{font-size: 70%; color: #969696; font-weight: normal;}
.page .services{text-align: left; padding-top:25px;}
.page .services .title{ color: #d9534f; font-size: 18px; margin-bottom: 5px;}
.page .services .title:before{content: "//"; margin-right:5px;}
.page .services .content{margin-bottom:25px;}


.formtable{text-align: left; display: inline-block; max-width:640px; width: 100%; margin:20px auto; padding: 25px; border:dashed 1px #b5b5b5;}
.formtable label{font-weight:normal;}

.formtable .form-control{
	height: 36px;
    background-color: #fff!important;
    background: none;
    font-size: 16px!important;
    line-height: 16px!important;
    box-shadow: none;
    border-color: #e6e6e6!important;
 }
.formtable textarea.form-control{height: auto;max-width: 100%; min-width: 100%;}
.formtable .form-control.bootstrap-select button{ border-color: #e6e6e6!important;}
.formtable .bootstrap-select .dropdown-menu .selected a{ background: #42516d!important;}
.formtable .form-control.bootstrap-select button{font-size:16px;}
.blue-btn{background-color: #42516d; color:#fff!important;}
.formtable hr{border-top:dashed 1px #b5b5b5; width: 100%; display: inline-block; margin: 10px 0px 20px 0px}


.map{
	height:0px;
    margin-bottom: -50px;
    display:block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.map.active{height:400px; transition:height 1s;}

.map:before{
	z-index:2;
	content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 6px;
    display: inline-block;
    background: #b67c1b;
    background: -moz-linear-gradient(left, #b67c1b 0%, #ffe76a 50%, #b67c1b 100%);
    background: -webkit-linear-gradient(left, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
    background: linear-gradient(to right, #b67c1b 0%,#ffe76a 50%,#b67c1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b67c1b', endColorstr='#b67c1b',GradientType=1 );
}

.sss{cursor:default;}
.content h3{color:#d9534f; margin-top: 40px; font-size: 20px}
.sss h4{ color: #08253c;}
.sss .question{  transition:0.5s; border-left:solid 5px #fff; padding:5px 10px; }
.sss .question:hover{border-left:solid 5px #ddd; transition:0.5s; background-color:#fdfdfd;}


.box .formtable{text-align: left; display: inline-block; max-width:304px; width: 100%; margin:0px auto; padding: 0px; border:none;}

.box.login {
	width: 100%;
	margin: auto;
	position: relative;
	overflow: hidden;
	background-image: url(../img/login-bg.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: -95px;
    margin-top: -35px;
    min-height: calc(100vh + -373px);
}
.box.login .blue-btn{background-color:#00baff;}
.login>div{ width: 100%; height: 100%; padding:100px 30px;   background: rgba(8, 37, 59, 0.70); color: #fff; text-align: center; 
    min-height: calc(100vh + -373px); }

.login .title,.register .title{color:#fff; margin-bottom:35px}
.login .title small,.register .title small{color:#ebebeb; line-height: 22px;}

.box.register {
	width: 100%;
	margin: auto;
	position: relative;
	overflow: hidden;
	background-image: url(../img/register-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: -95px;
    margin-top: -35px;
}
.box .blue-btn{background-color:#00baff; color:#fff;}
.box .yellow-btn{background-color:#efbc41; color:#fff;}
.register>div{ width: 100%; height: 100%; padding:60px 30px;  background: rgba(8, 37, 59, 0.70); color: #fff; text-align: center; }
{color:#fff;}



.passwordbar { width: 100%; height: 4px; display: inline-block; background-color: #ddd; border-radius: 0px 0px 4px 4px; position: absolute; bottom: 1px;}
.passwordbar>span{width:0%; background-color:#ddd; height:100%; transition:0.6s; display: inline-block; position:absolute;}
.passwordbar .easy{width:25%; background-color:#d9534f; transition:0.6s;}
.passwordbar .normal{width:65%; background-color:#f7c307; transition:0.6s;}
.passwordbar .secure{width:100%; background-color:#32c172; transition:0.6s;}


.news-detail{width: 100%; max-width:740px; margin:auto;}
.news-detail .shadow{
	text-align: right;
	font-size:12px;
	position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 40px 10px 10px 10px;
    width: 100%;
    color: rgb(255, 255, 255);
	 background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, #000 100%);
	 background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%,#000 100%);
	 background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%,#000 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000',GradientType=0 );
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.40);

}
.news-detail h3{margin-top:0px;}
.news-detail h3 small{
	font-size: 16px;
    color: #93a1ac;
    padding-top: 5px;
    line-height: 18px;
    display: inline-block;}

.news-detail .img{
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;}
.news-detail .content{border:solid 1px #ddd; border-top:0px; padding: 15px;}

.news-list{padding: 0px;}
.news-list .box .title{height:40px; overflow: hidden;}
.news-list .box .content{height:55px; overflow: hidden;}
.news-list .box{margin-bottom:30px; max-height:350px;}

.news-detail .content-bottom{
	border: solid 1px #ddd;
    border-top: 0px;
    padding: 0px;
    color: #9c9c9c;}
.news-detail .content-bottom>.fa{
	font-size: 20px;
	width:40px;
	height: 40px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;}
.news-detail .content-bottom>.fa-long-arrow-left{border-right: solid 1px #ddd; float:left}
.news-detail .content-bottom>.fa-long-arrow-right{border-left: solid 1px #ddd; float:right}
.news-detail .content-bottom .social{
display: inline-block;
    width: calc(100% - 87px);
    text-align: center;
    font-size: 14px;
}
.news-detail .content-bottom .social .fa{padding: 13px 5px; cursor: pointer;color: #777;}
.news-detail .content-bottom .fa:hover{color:#000;}

.gallery{padding: 5px; width: 100%;}
.gallery .img{height:280px; margin:5px; display: inline-block; border: solid 1px #ddd}
.gallery .img img{height: 100%;}

/* Modal CSS */
.modal-content{border: solid 3px #f0ad4e;}
.modal-content h3{font-size: 18px;}
.modal-body.scroll{ max-height: 75vh; overflow: auto;}



@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.cardContainer{position: relative;
    min-height: 190px;}
.card{
    background: #186f8e;
    background: -moz-linear-gradient(45deg, #186f8e 0%, #114064 100%);
    background: -webkit-linear-gradient(45deg, #186f8e 0%,#114064 100%);
    background: linear-gradient(45deg, #186f8e 0%,#114064 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186f8e', endColorstr='#114064',GradientType=1 );
    width: 100%;
    max-width: 315px;
    min-height: 170px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    position: absolute;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    z-index: 2;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    user-select: none;
    cursor:default;
    top:20px;
}
.card:hover{
    box-shadow:0px 22px 10px -15px #7d7d7d;
    -webkit-box-shadow:0px 22px 10px -15px #7d7d7d;
    top:10px;
}
.card.active{
    z-index: 3;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.card .cardBrand{position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    font-size: 16px;}
.card .cardNo{position: absolute;
    top: 40px;
    left: 20px;
    font-size: 20px;
    min-width:100px;}
.card .cardNo:before{content: "Kart Numarası"; position: absolute;
    top: -10px;
    font-size: 11px;
    opacity: 0.8;}

.card .cardDate{position: absolute;
    top: 90px;
    left: 20px;
    font-size:16px;
    min-width:100px;
}
.card .cardDate:before{
    content: "Son Kunlanma";
    position: absolute;
    top: -10px;
    font-size: 11px;
    opacity: 0.8;}

.card .cardName{position: absolute;
    top: 130px;
    left: 20px;
    font-size: 16px;
    min-width:100px;
}
.card .cardCvc:before{content: ""; position: absolute; top:-40px; width: 100%; height: 30px; background: #072338; left: 0px;}
.card .cardCvc{position: absolute;
    top: 70px;
    font-size: 16px;
    width: 100%;
    padding: 0px 20px;
    text-align: right; }



.map-info-box{border-right: 1px solid #eee;  padding-right: 0px;}
.map-info-box .map-info{line-height: 26px;padding: 20px 0px 20px 10px;}
.map-info-box .map-info .title{color:#eb3a66; font-size:20px;}
.map-info-box .map-info .number{color:#757575;font-size: 30px;letter-spacing: -1px;}
.map-info-box .map-info .number span{font-weight: bold;}
.map-info-box .map-info .number sup{font-size: 18px;}
.map-info-box hr{margin: 0px;}

.map-pin{color:#eb3a66;
    width: 50px;
    display: inline-block;
    text-align: center;
    height: 50px;
      font-size: 22px;
    float: left;
    padding: 10px 0px;
}
.map-address{ width: calc(100% - 50px);
    float: left;    font-size: 15px;
    padding: 5px; }
.map-address small{color:#eb3a66;width: 100%;
    display: inline-block;}
.map-address span{color:#757575;}
.map-bar{width: 100%; border-bottom:solid 1px #eee;    margin: 10px 0px;
    position: relative}
.map-bar .icon{background-color: #fff;
    padding: 0px 15px;
    position: absolute;
    left: 0px;
    top: -7px;
    width: 50px;
    text-align: center;}


.payment-title{color:#282828; font-size: 20px;}
.payment-title small{color:#ff647b; font-size: 10px; width: 100%; display: inline-block;}
.rota-btn{color:#fff!important; margin: 7px 0px; background-color:#ff647b; position: relative; padding-left: 35px;}
.rota-btn:before{content:"";width: 44px;
    height: 55px;
    position: absolute;
    left: -15px;
    top: -15px;background:url(../img/rota.png) center no-repeat;}


/* Mobil CSS */
@media screen and (max-width: 1020px) {
 header{height: 100px;}
 header .logo{width: 140px; height: 110px; bottom: -30px; left: -15px;}
 header .rightbar{ width: calc(100% - 145px);}
 header .rightbar .top{height: 100px;}
 header .rightbar .top .right-menu{padding: 10px;}
 header .rightbar .top .right-menu .phone { font-size: 13px;}
 header .rightbar .top .right-menu .phone strong{ font-size: 18px;}
 header .rightbar .top .right-menu .buttons .btn{font-size: 10px;}
 header .rightbar .top .left-menu{ font-size: 14px; margin-top:55px;}
 header .rightbar .bottom .social{padding: 0px}

.map-info-box{padding-right:15px; border-bottom:solid 1px #eee;}

 .slider .img{margin-bottom: 15px; }
 .slider .text{width: 100%; margin:40px 0px; margin-top:30px; padding: 0px;}
 .slider .title{font-size: 18px; line-height: 20px;}
 .slider .content{max-width: 100%; max-height:initial;}
 .slider .swiper-slide{padding:10px 40px!important; padding-right:0px!important;}
 .slider .swiper-pagination{padding:0px 20px;}
 .slider .title{max-width: 100%;}

}
@media screen and (max-width: 767px) {

 .rota-btn{ width: calc(100% - 10px); margin-left: 10px;}

 .calculation {margin-top: 100px; margin-bottom: 50px; display: inline-block;}
 .calculation .total{ position: relative; bottom: 25px; left: 0px; right: 0px;}
 .calculation .animation{display: none;}
 .calculation .form{display: inline-block; height: 50px;}
 .cloud{ min-height: auto;}
 .calculation>.text{font-size: 18px; width: 200px; margin-top: -20px;}

.media .media-body{display: inline-block; width: 100%; padding: 10px 0px; font-size:12px;}

 header {height: 70px;}
 header .logo {bottom:-10px;}
 header .rightbar .top,header .rightbar .announcement{display: none;}
 header .logo {bottom:-10px;}
 header  .rightbar .social{margin-top: 70px;}
 header .rightbar .top{display: none;}
 header .menu-icon{display:block;
 color: #f7db61;
 position: absolute;
 right: 0px;
 padding: 17px;
 font-size: 30px;
 cursor: pointer;}

 footer .menu .link{display: none;}
 footer .menu{font-size: 12px;}

 .cardContainer{display: none;}

.navbar-dashed .navbar-nav{margin: 0px; float:initial!important;}
    
.page{min-height: calc(100vh - 356px);}
.box.login,.box.login>div{min-height: calc(100vh - 266px);}

}
@media screen and (max-width: 480px) {
.formtable .paymentContainer>div{padding: 10px 2px; width: 100%;}
.formtable .form-control{font-size: 11px!important;}
.paymentContainer .nav-tabs>li a{ padding: 5px 7px; font-size: 11px;}
}


