﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Admin Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    @Styles.Render("~/Areas/Admin/Content/css/font-awesome.css")
    @Styles.Render("~/Areas/Admin/Content/css/bootstrap.min.css")
    @Styles.Render("~/Areas/Admin/Content/css/font-awesome.css")
    @Styles.Render("~/Areas/Admin/Content/css/animate.css")
    @Styles.Render("~/Areas/Admin/Content/dist/css/swiper.min.css")
    @Styles.Render("~/Areas/Admin/Content/css/style.css")
    @Styles.Render("~/Areas/Admin/Content/dist/css/bootstrap-select.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/Admin/Content/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/Areas/Admin/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Areas/Admin/Content/dist/js/bootstrap-select.js")
    @Scripts.Render("~/Areas/Admin/Content/dist/js/swiper.min.js")
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".accordion dt").click(function () {
                $(this).next().slideToggle();
            });
        });
    </script>
    <style>
        .formtable {
            text-align: left;
            display: inline-block;
            width: 100%;
            margin: 20px auto;
            padding: 25px;
            border: dashed 1px #b5b5b5;
            background-color: white;
        }

        .progress-bar {
            animation: slideInLeft .6s ease;
            -webkit-animation: slideInLeft .6s ease;
        }
    </style>
</head>
<body>


    <div class="left-menu">
        <a href="@Url.Action("Dashboard", "Admins")"><div class="logo">YÖNETİM PANELİ<small>Çapar Kargo ve Kurye</small></div></a>

        <ul class="menu">
            @if (Session["adminType"].ToString() == "Admin")
            {
                <li>
                    <a href="#" onclick="$(this).next().slideToggle();"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Yönetim İşlemleri <span class="caret"></span></a>
                    <ul>
                        <li>@Html.ActionLink("Raporlar", "Dashboard", "Admins")</li>
                        <li>@Html.ActionLink("Yöneticiler", "Index", "Admins")</li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Index", "BankAccounts")"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Banka Hesapları</a></li>
                <li><a href="@Url.Action("Index", "Faqs")"><i class="fa fa-question-circle" aria-hidden="true"></i> Sıkça Sorulan Sorular</a></li>
                <li><a href="@Url.Action("Index", "Files")"><i class="fa fa-wpforms" aria-hidden="true"></i> Belgeler</a></li>
                <li><a href="@Url.Action("Index", "News")"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Haberler</a></li>
                <li><a href="@Url.Action("Index", "Notifications")"><i class="fa fa-bullhorn" aria-hidden="true"></i> Duyurular</a></li>
                <li><a href="@Url.Action("Index", "Pages")"><i class="fa fa-file-o" aria-hidden="true"></i> Sayfalar</a></li>
                <li><a href="@Url.Action("Index", "Pictures")"><i class="fa fa-picture-o" aria-hidden="true"></i> Resimler</a></li>
                <li><a href="@Url.Action("Index", "Services")"><i class="fa fa-university" aria-hidden="true"></i> Hizmetler</a></li>
                <li><a href="@Url.Action("Index", "Sliders")"><i class="fa fa-exchange" aria-hidden="true"></i> Slider</a></li>
                <li><a href="@Url.Action("Create", "AdminUsers")"><i class="fa fa-users" aria-hidden="true"></i> Üyeler</a></li>
                <li><a href="@Url.Action("Index", "Couriers")"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Siparişleri</a></li>
            }

            @if (Session["adminType"].ToString() == "Asistan")
            {
                <li><a href="@Url.Action("Index", "Faqs")"><i class="fa fa-question-circle" aria-hidden="true"></i> Sıkça Sorulan Sorular</a></li>
                <li><a href="@Url.Action("Index", "Files")"><i class="fa fa-wpforms" aria-hidden="true"></i> Belgeler</a></li>
                <li><a href="@Url.Action("Index", "News")"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Haberler</a></li>
                <li><a href="@Url.Action("Index", "Notifications")"><i class="fa fa-bullhorn" aria-hidden="true"></i> Duyurular</a></li>
                <li><a href="@Url.Action("Index", "Pages")"><i class="fa fa-file-o" aria-hidden="true"></i> Sayfalar</a></li>
                <li><a href="@Url.Action("Index", "Pictures")"><i class="fa fa-picture-o" aria-hidden="true"></i> Resimler</a></li>
                <li><a href="@Url.Action("Index", "Services")"><i class="fa fa-university" aria-hidden="true"></i> Hizmetler</a></li>
                <li><a href="@Url.Action("Index", "Sliders")"><i class="fa fa-exchange" aria-hidden="true"></i> Slider</a></li>
                <li><a href="@Url.Action("Index", "AdminUsers")"><i class="fa fa-users" aria-hidden="true"></i> Üyeler</a></li>
                <li><a href="@Url.Action("Index", "Couriers")"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Siparişleri</a></li>
            }
            @if (Session["adminType"].ToString() == "Muhasebe")
            {
                <li><a href="@Url.Action("Index", "AdminUsers")"><i class="fa fa-users" aria-hidden="true"></i> Üyeler</a></li>
                <li><a href="@Url.Action("Index", "Couriers")"><i class="fa fa-motorcycle" aria-hidden="true"></i> Kurye Siparişleri</a></li>
            }



        </ul>

    </div>

    <div class="body">
        <header>
            <div class="nav" onclick="$('body').toggleClass('active');"><i class="fa fa-bars" aria-hidden="true"></i></div>

            <div class="pull-right">
                <a href="@Url.Action("Profile", "Admins", new { Area = "Admin"})">
                    <div class="menu" data-toggle="tooltip" data-placement="bottom" title="@Session["adminName"]">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </div>
                </a>
                @if (Session["adminType"].ToString() == "Admin")
                {
                    <a href="@Url.Action( "Edit", "Settings",new { id=1})">
                        <div class="menu" data-toggle="tooltip"
                             -placement="bottom" title="Ayarlar">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </div>
                    </a>
                }
                <a href="@Url.Action("Logout", "Admins")"><div class="logout" data-toggle="tooltip" data-placement="bottom" title="Çıkış"><i class="fa fa-sign-out" aria-hidden="true"></i></div></a>
            </div>

        </header>

        <div class="content">
            <div class="bar"><span></span></div>
            @RenderBody()
        </div>
    </div>
</body>
</html>