﻿@model CaparKurye.Couriers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Couriers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcNumTaxNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcNumTaxNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amountOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amountOfPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contentOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contentOfPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payments.paymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payments.paymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
