﻿@model CaparKurye.Couriers

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt0HcqQ1XM9Z6K8GiCtwJ-iyDc14LwY5Q" type="text/javascript"></script>
<script type="text/javascript">
    function totalChanged() {
        $("#cost").val(($("#totalCost").val() / 1.18).toFixed(2))
        $("#tax").val(($("#totalCost").val() - $("#cost").val()).toFixed(2));
    }
    function costChanged() {
        $("#totalCost").val(($("#cost").val() * 1.18).toFixed(2));
        $("#tax").val(($("#cost").val() * 0.18).toFixed(2));
    }

    $(function () {
        $("#paymentType").on('change', function () {
            if ($(this).val() == "Havale") {
                $("#bankStatus").show();
            } else {
                $("#bankStatus").hide();
            }
        });

	  $('[data-toggle="tooltip"]').tooltip();
	  $(".accordion dt").click(function(){
	  		$(this).next().slideToggle();
      });
      $("#paymentStatus").val("@Html.Raw(Model.Payments.paymentStatus)").selectpicker();
      $("#status").val("@Html.Raw(Model.status)").selectpicker();
	});

        var Nerden = '@Html.Raw(Model.fromDistrict) @Html.Raw(@Model.fromAddress)';
        var Nereye; // kendi oluşturuyor.
        var list = [];
        list.push({ location: Nerden, stopover: true })
        var denek = @Html.Raw(Json.Encode(Model.CourierRecievers.Select(x => x.toDistrict + " " + x.toAddress)))
            $.each(denek, function (key, val) {
                var obj = { location: '', stopover: true };
                obj.location = val
                list.push(obj)
            })

        var AraNoktalar = list;
        var GonderiTuru = "@Model.postType";
        var GonderiTipi = "@Model.post"

        $(document).ready(function () {;
            Control();
        });

        // Değerleri Kontrol
        function Control() {

            if (GonderiTuru != "Imzalı") {
                Nereye = AraNoktalar[AraNoktalar.length - 1]['location']; // Sonuncu Adresi ekle
                AraNoktalar.splice(AraNoktalar.length - 1); // Sonuncu Adresi çıkar
            }
            else {
                Nereye = AraNoktalar[AraNoktalar.length - 1]['location'];
            }
            MapCreate();
        }

        // Harita Oluştur
        function MapCreate() {

            // Harita Bilgileri
            var map = new google.maps.Map(document.getElementById('map'), { zoom: 12, center: { lat: 38.443858, lng: 27.130023 } });
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({ draggable: false, map: map, polylineOptions: { strokeWeight: 3, strokeOpacity: 0.6, strokeColor: '#1688e3' } });

            // Haritada Çiz
            MapDraw(Nerden, Nereye, directionsService, directionsDisplay);

        }


        // Haritada Çiz
        function MapDraw(nerden, nereye, service, display) {
            if (GonderiTuru == "Imzalı") {
                service.route({
                    origin: '38.462662, 27.167610',
                    waypoints: [
                        {
                            location: nerden,
                            stopover: true
                        },
                        {
                            location: nereye,
                            stopover: true
                        },
                    ],
                    destination: nerden,
                    travelMode: 'DRIVING',
                    avoidTolls: true
                }, function (response, status) {
                    if (status === 'OK') {
                        display.setDirections(response);
                    }
                });
            }
            else {
                service.route({
                    origin: '38.462662, 27.167610',
                    waypoints: AraNoktalar,
                    destination: nereye,
                    travelMode: 'DRIVING',
                    avoidTolls: true,
                }, function (response, status) {
                    if (status === 'OK') {
                        display.setDirections(response);
                    }
                });
            }
        }
        function updateStatus(val) {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeStatus", "Couriers", new { Area = "Admin" }, Request.Url.Scheme)",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { courierID : @Model.courierID,status: val},
                success: function (d) {
                        if (d.code == 200) {
                            $("#result").html('<div id="successBox" class="alert alert-success" role="alert">'+d.message+'</div>');
                            setInterval(function () { $("#successBox").remove(); }, 2000);
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                        } else {
                            $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">' + d.message + '</div>');
                            setInterval(function () { $("#dangerBox").remove(); }, 2000);
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
            });
        }
        function updatePaymentStatus(val) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePaymentStatus", "Couriers", new { Area = "Admin" }, Request.Url.Scheme)",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { courierID : @Model.courierID,paymentStatus: val},
                success: function (d) {
                    if (d.code == 200) {
                        $("#result").html('<div id="successBox" class="alert alert-success" role="alert">'+d.message+'</div>');
                        setInterval(function () { $("#successBox").remove(); }, 2000);
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    } else {
                        $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">' + d.message + '</div>');
                        setInterval(function () { $("#dangerBox").remove(); }, 2000);
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });
        }

        function setCourierAttrs() {
        if ($("#paymentType").val() != null){
            if ($("#totalCost").val() != "" && $("#cost").val() != "" && $("#tax").val() != ""){
                if ($("#paymentType").val() == "Havale" && $("#bankName").val() != null){
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SetCostandPaymentType", "Couriers", new { Area = "Admin" }, Request.Url.Scheme)",
                        content: "application/json; charset=utf-8",
                        dataType: "json",
                        data: { courierID: @Model.courierID,paymentType: $("#paymentType").val(), totalCost: $("#totalCost").val().replace('.', ','), cost: $("#cost").val().replace('.', ','), tax: $("#tax").val().replace('.', ','), accountID: $("#bankName").val()},
                        success: function (d) {
                            $(window).scrollTop(0);
                            if (d.code == 200) {
                                $("#setCourierAttrs").prop("disabled", "disabled");
                            $("#result").html('<div id="successBox" class="alert alert-success" role="alert">'+d.message+'</div>');
                            setInterval(function () { $("#successBox").remove(); location.reload() }, 2000);
                        } else {
                            $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">' + d.message + '</div>');
                            setInterval(function () { $("#dangerBox").remove(); location.reload() }, 2000);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                    });
                }else if ($("#paymentType").val() != "Havale"){
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SetCostandPaymentType", "Couriers", new { Area = "Admin" }, Request.Url.Scheme)",
                        content: "application/json; charset=utf-8",
                        dataType: "json",
                        data: { courierID: @Model.courierID,paymentType: $("#paymentType").val(), totalCost: $("#totalCost").val().replace('.', ','), cost: $("#cost").val().replace('.', ','), tax: $("#tax").val().replace('.', ','), accountID: null},
                        success: function (d) {
                            $(window).scrollTop(0);
                            if (d.code == 200) {
                                $("#setCourierAttrs").prop("disabled", "disabled");
                            $("#result").html('<div id="successBox" class="alert alert-success" role="alert">'+d.message+'</div>');
                            setInterval(function () { $("#successBox").remove(); location.reload() }, 2000);
                        } else {
                            $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">' + d.message + '</div>');
                            setInterval(function () { $("#dangerBox").remove(); location.reload() }, 2000);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                    });
                }else{
                    $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">Banka Adı Seçiniz</div>');
                    setInterval(function () { $("#dangerBox").remove(); }, 3000);
                }
            }else{
                $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">Tutar Giriniz</div>');
                setInterval(function () { $("#dangerBox").remove(); }, 3000);
            }
        }else{
            $("#result").html('<div id="dangerBox" class="alert alert-danger" role="alert">Ödeme Türü Seçiniz</div>');
            setInterval(function () { $("#dangerBox").remove(); }, 3000);
        }
    }



</script>


<div class="col-xs-12 col-sm-12" id="result">
</div>
<div class="col-xs-12 col-sm-5">
    <div class="page">
        <h4 class="title"><i class="fa fa-archive" aria-hidden="true"></i> Gönderi Bilgileri</h4>
        <div class="col-xs-12">
            <table class="table" style="margin-bottom:15px;">
                <tr><th width="160">Üye Bilgileri</th><th width="5">:</th><td><a target="_blank" href="@Url.Action("Details","AdminUsers", new { id=Model.Users.userID })">@Model.Users.nameSurname</a></td></tr>
                <tr><th width="160">İşlem Tarihi</th><th width="5">:</th><td>@Model.date.Value.ToString("yyyy-MM-dd HH:mm")</td></tr>
                <tr><th width="160">İş Emri, Açıklama, Not</th><th>:</th><td>@Model.description</td></tr>
                <tr><th width="160">Gönderi Değeri</th><th width="5">:</th><td>@Model.amountOfPost ₺</td></tr>
                <tr><th width="160">Gönderi İçeriği</th><th width="5">:</th><td>@Model.contentOfPost</td></tr>
                <tr><th width="160">Gönderi Türü</th><th width="5">:</th><td>@Model.post</td></tr>
                <tr><th width="160">Gönderi Adet/Tipi</th><th width="5">:</th><td>@Model.count Adet @Model.postType</td></tr>
                <tr>
                    <th width="160">Ödeme Türü</th>
                    <th width="5">:</th>
                    <td>
                        @if (Model.Payments.paymentType == "Teklif")
                        {
                            <select id="paymentType" class="form-control selectpicker">
                                <option value="0" selected disabled>Teklif İçin Ödeme Tipi Seçiniz</option>
                                @foreach (var item in ((List<Payments>)ViewBag.paymentTypes).Where(x => x.paymentType != "Teklif").GroupBy(item => item.paymentType))
                                {
                                    <option value="@Html.Raw(item.Key)">@Html.Raw(item.Key)</option>
                                }
                            </select>
                        }
                        else
                        { @Model.Payments.paymentType }
                    </td>
                </tr>
                @if (Model.Payments.paymentType == "Teklif")
                {
                    <tr id="bankStatus" style="display: none;">
                        <th width="160">Banka Adı</th>
                        <th width="5">:</th>
                        <td>
                            <select id="bankName" class="form-control selectpicker">
                                <option value="0" selected disabled>Havale İçin Banka Adı Seçiniz</option>
                                @foreach (var item in (List<BankAccounts>)ViewBag.bankAccounts)
                                {
                                    <option value="@Html.Raw(item.accountID)">@Html.Raw(item.bankName)</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
                @if (Model.Payments.paymentType == "Havale")
                {
                    if (Model.Payments.BankAccounts != null)
                    {
                        <tr><th width="160">Banka Adı</th><th width="5">:</th><td>@Model.Payments.BankAccounts.bankName</td></tr>
                    }
                }
                <tr>
                    <th width="160">Kurye Durumu</th>
                    <th width="5">:</th>
                    <td>
                        <select class="form-control" id="status" onchange="updateStatus(this.value)">
                            <option value="Bekliyor">Bekliyor</option>
                            <option value="İptal">İptal</option>
                            <option value="Onaylandı">Onaylandı</option>
                        </select>
                    </td>
                </tr>

                @if (Session["AdminType"].ToString() == "Admin" || Session["AdminType"].ToString() == "Muhasebe")
                {
                    <tr>
                        <th width="160">Ödeme Durumu</th>
                        <th width="5">:</th>
                        <td>
                            <select class="form-control" id="paymentStatus" onchange="updatePaymentStatus(this.value)">
                                <option value="0" selected disabled>Ödeme Durumu Seçiniz</option>
                                <option value="Ödendi">Ödendi</option>
                                <option value="Ödenmedi">Ödenmedi</option>
                                <option value="İade">İade</option>
                            </select>
                        </td>
                    </tr>
                }

                <tr>
                    <th width="160">Tutar</th>
                    <th width="5">:</th>
                    <td>
                        <!-- Teklif olarak gelirse -->
                        @if (Model.Payments.paymentType == "Teklif")
                        {
                            <div class="input-group">
                                <div class="col-sm-3" style="padding: 0px;"><input type="number" autocomplete="off" onchange="costChanged()" id="cost" placeholder="Fiyat" class="form-control" /></div>
                                <div class="col-sm-3" style="padding: 0px;"><input type="number" autocomplete="off" id="tax" placeholder="Vergi" class="form-control" disabled /></div>
                                <div class="col-sm-3" style="padding: 0px;"><input type="number" autocomplete="off" onchange="totalChanged()" id="totalCost" placeholder="Kdv Dahil Fiyat" class="form-control" /></div>

                                <div class="col-sm-3">
                                    <div class="input-group-btn"><button id="setCourierAttrs" onclick="setCourierAttrs()" class="btn btn-primary">Teklif Ver</button></div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>@Model.Payments.totalCost ₺</div>
                        }

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-7">
    <div class="page">
        <h4 class="title"><i class="fa fa-map-signs" aria-hidden="true"></i> Güzergah</h4>
        <div id="map" style="height:460px; margin-top: -10px;"></div>
    </div>
</div>


<div class="col-xs-12 col-sm-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-map-marker" aria-hidden="true"></i> Adres Bilgileri</h4>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr><td rowspan="5">Gönderen Bilgileri</td></tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="150"><strong>İsim / Ünvan</strong><br />@Model.nameSurname</td>
                        <td width="150"><strong>Telefon</strong><br />@Model.phone</td>
                        <td width="250"><strong>TC No / Vergi D. - Vergi No</strong><br />@Model.tcNumTaxNum</td>
                        <td><strong>Adres</strong><br />@Model.fromDistrict @Model.fromAddress</td>
                    </tr>
                </tbody>
            </table>


            <table class="table">
                <thead>
                    <tr><td rowspan="5">Alıcı Bilgileri</td></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CourierRecievers)
                    {
                        <tr>
                            <td width="150"><strong>İsim / Ünvan</strong><br />@item.nameSurname</td>
                            <td width="150"><strong>Telefon</strong><br />@item.phone</td>
                            <td width="250"><strong>TC No / Vergi D. - Vergi No</strong><br />@item.TcNumTaxNum</td>
                            <td><strong>Adres</strong><br />@item.toDistrict @item.toAddress</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

