﻿@model IEnumerable<CaparKurye.Couriers>

@{
    ViewBag.Title = "Kurye Siparişleri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Areas/Admin/Content/js/functions.js")
<style>
    table .fa-check-square-o {
        font-size: 20px;
        color: green;
    }

    table .fa-ban {
        font-size: 20px;
        color: red;
    }

    table .fa-exclamation-triangle {
        font-size: 20px;
        color: orange;
    }
</style>
<script>
    function couriersList() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCouriersByDateAll", "Admins", new { Area = "Admin" }, Request.Url.Scheme)",
            content: "application/json; charset=utf-8",
        dataType: "json",
        data: { firstDate : $("#firstDate").val(), secondDate : $("#secondDate").val()},
        success: function (d) {
            if (d.code != 400) {
                $("#couriersList").html("");
                $.each(d.data.couriers, function () {
                    $("#couriersList").append(render(this));
                })

            } else {
                $("#alert").html(d.message).show();
                setInterval(function () { location.reload() }, 3000);
            }
        },
        error: function (xhr, textStatus, errorThrown) {
            // TODO: Show error
        }
    });
    }
    function render(item) {
        var status = "";
        if (item.status == "Onaylandı") { status = "fa-check-circle"; } else if (item.status == "İptal") { status = "fa-times-circle"; } else if (item.status == "Bekliyor") { status = "fa-exclamation-circle"; }
        var paymentStatus = "";
        if (item.paymentStatus == "Ödendi") { paymentStatus = "fa-check-circle"; } else if (item.paymentStatus == "İade") { paymentStatus = "fa-times-circle"; } else if (item.paymentStatus == "Ödenmedi") { paymentStatus = "fa-exclamation-circle"; }
        return '<tr style="cursor:pointer;" onclick="location.href=\'@Url.Action("Details")/'+item.courierID+'\'">'+
                    '<td style="text-align: center;"><i class="fa ' + status + '" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="' + item.status + '"></i></td>' +
                    '<td style="text-align: center;"><i class="fa ' + paymentStatus + '" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="' + item.status + '"></i></td>' +
                    '<td>' + convertDate(item.date) + '</td>' +
                    '<td>'+item.postType+'</td>'+
                    '<td>'+item.post+'</td>'+
                    '<td>'+item.count +' Adet</td>'+
                    '<td>' + item.paymentType + '</td>' +
                    '<td>'+item.totalCost +'₺</td>'+
                '</tr>';
    }
    $(function () {
        couriersList();
    })
</script>
<div class="col-xs-12 col-sm-12">

    <div class="page">
        <h4 class="title">
            <i class="fa fa-map-marker" aria-hidden="true"></i> @ViewBag.Title

            <div class="date pull-right">
                <span><input type="date" id="firstDate" class="form-control input-sm" onchange="couriersList();this.focus()" value="@DateTime.Now.ToString("yyyy-MM-")01" /></span>
                <span><input type="date" id="secondDate" class="form-control input-sm" onchange="couriersList()" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></span>
            </div>
        </h4>

        <div class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td width="30">Kurye</td>
                            <td width="30">Ödeme</td>
                            <td>Tarih</td>
                            <td>Gönderi Türü</td>
                            <td>Gönderi Tipi</td>
                            <td>Adet</td>
                            <td>Ödeme Türü</td>
                            <td>Tutar</td>
                        </tr>
                    </thead>
                    <tbody id="couriersList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>