﻿@model IEnumerable<CaparKurye.Users>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/public/js/formControl.js")
<script type="text/javascript">
    function passwordbar() {
        var password = $("#password").val().trim();
        var passwordbar = $(".passwordbar>span");
        var level = 3;

        if (password != "") {

            if (password.length < 6) {
                level--;
            }

            if (!password.match(/[^0-9]/g)) {
                level--;
            }

            if (!password.match(/[^a-zA-Z ğüşıöçĞÜŞİÖÇ.,]/g)) {
                level--;
            }
            if (level <= 0) { passwordbar.removeClass(); }
            if (level == 1) { passwordbar.removeClass().addClass("easy"); }
            if (level == 2) { passwordbar.removeClass().addClass("normal"); }
            if (level == 3) { passwordbar.removeClass().addClass("secure"); }
        }
        else {
            passwordbar.removeClass();
        }

    }

    function registerType(e) {
        var data = $(e).val();

        $(".registertype").hide();

        if (data == "corporate")
            $(".corporate").show();

        if (data == "individual")
            $(".individual").show();
    }

    function registerForm() {
        if (formControl("#registerContainer")) {

            // Success
            console.log($("#registerContainer").serialize())
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "AdminUsers", new { Area = "Admin" }, Request.Url.Scheme)",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: $("#registerContainer").serialize(),
                    success: function (d) {
                        if (d.code == 200) {
                            alertBox(d.message, false);
                            setInterval(function () { location.reload() }, 3000);
                        } else {
                            alertBox(d.message, true);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
            });

        }
        else {
            alertBox("Lütfen işaretli alanları doldurunuz.");
        }
    }

    function alertBox(text, bool = true) {
        var box = (bool == true) ? $("#alertBox") : $("#successBox");
        (bool == false) ? $("#alertBox").hide() : $("#successBox").hide();
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 60 }, 500);
        }
    }

    function render(item) {
        var type = "";
        if (item.type == "individual") { type = "Bireysel"; } else { type ="Kurumsal" }
        return '<tr>'+
            '<td>' + type+'</td>'+
            '<td>'+item.nameSurname+'</td>'+
            '<td>'+item.email+'</td>'+
            '<td>'+item.phone +'</td>'+
            '<td class="text-right"><a href="@Url.Action("Edit")/'+item.userID+'" class="btn btn-warning btn-xs" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Düzenle</a ></td >'+
            '</tr>';
    }
    $(function () {
        $("#search").keyup(function () {
            if ($("#search").val() != "") {
             $.ajax({
                type: "POST",
                url: "@Url.Action("SearchUser", "AdminUsers", new { Area = "Admin" }, Request.Url.Scheme)",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { search: $("#search").val()},
                success: function (d) {
                if (d.code != 400) {
                    $("#usersArea").hide();
                    $("#searchArea").show();
                    $("#searchList").html("");
                    if (d.data.length == 0) {
                        $("#searchList").append("<tr><td class='text-center' colspan='5'>Hiç Sonuç Bulunamadı :(</td></tr>");
                    } else {
                        $.each(d.data, function () {
                            $("#searchList").append(render(this));
                        })
                    }
                } else {
                    $("#alert").html(d.message).show();
                    setInterval(function () { location.reload() }, 3000);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
            });
            } else {
                $("#searchArea").hide();
                $("#usersArea").show();
            }
        })
    })
</script>

<div class="col-xs-12 col-sm-12">

    <div class="page">
        <h4 class="title">
            <i class="fa fa-users" aria-hidden="true"></i> Üyeler

            <div class="search pull-right">
                <span>
                    <div class="input-group">
                        <input id="search" type="search" class="form-control input-sm" placeholder="Arama yap..." />
                        <div class="input-group-addon btn"><div class="fa fa-search" aria-hidden="true"></div></div>
                    </div>
                </span>
            </div>
        </h4>

        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <div class="box register">
                    <div>
                        <form style="border: none;padding: 25px;" id="registerContainer">
                            <div id="alertBox" class="alert alert-danger" style="display:none;" role="alert"></div>
                            <div id="successBox" class="alert alert-success" style="display:none;" role="alert"></div>
                            <div class="form-group">
                                <label>Üyelik Tipi</label>
                                <select class="form-control selectpicker" title="Seçim Yapınız" name="type" onchange="registerType(this)">
                                    <option value="individual" selected="selected">Bireysel</option>
                                    <option value="corporate">Kurumsal</option>
                                </select>
                            </div>

                            <!-- Bireysel -->
                            <div class="form-group registertype individual required"><label>TC Kimlik Numarası</label><input type="text" name="TCNumber" class="form-control numberControl" maxlength="11" /></div>
                            <!-- Bireysel -->
                            <!-- Kurumsal -->
                            <div class="corporate registertype" style="display: none;">
                                <div class="form-group required"><label>Vergi Dairesi</label><input type="text" name="taxAdministration" class="form-control" /></div>
                                <div class="form-group required"><label>Vergi No</label><input type="tel" name="taxNumber" class="form-control numberControl" /></div>
                                <div class="form-group required"><label>Yetkili Ad ve Soyad</label><input name="authorizedNameSurname" type="text" class="form-control" /></div>
                                <div class="form-group required"><label>Firma Adresi</label><textarea name="companyAddress" class="form-control" style="max-height:60px;min-height:60px"></textarea></div>
                            </div>
                            <!-- Kurumsal -->

                            <div class="form-group required"><label>Ad ve Soyad</label><input type="text" name="nameSurname" class="form-control" /></div>
                            <div class="form-group required"><label>Telefon Numarası</label><input type="tel" name="phone" class="form-control numberControl" maxlength="11" /></div>
                            <div class="form-group required emailControl"><label>E-posta Adresi</label><input type="email" name="email" class="form-control" /></div>
                            <div class="form-group required">
                                <label>Şifre</label>
                                <input type="password" class="form-control" id="password" name="password" onkeypress="passwordbar()" onblur="passwordbar()" />
                                <div class="passwordbar">
                                    <span></span>
                                </div>
                            </div>

                            <div class="pull-right"><div class="form-group"><div class="btn btn-success" onclick="registerForm()">Kaydet</div></div></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8" id="searchArea" style="display:none">
            <h6 class="title"><span class="fa fa-columns" aria-hidden="true"></span> Arama Sonuçları</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Üyelik Tipi</td>
                            <td>Ad ve Soyad</td>
                            <td>E-posta</td>
                            <td>Telefon</td>
                            <td class="text-right">Düzenle</td>
                        </tr>
                    </thead>
                    <tbody id="searchList">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8" id="usersArea">
            <h6 class="title"><span class="fa fa-columns" aria-hidden="true"></span> Kayıtlı Liste</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Üyelik Tipi</td>
                            <td>Ad ve Soyad</td>
                            <td>E-posta</td>
                            <td>Telefon</td>
                            <td class="text-right">Düzenle</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@if (item.type == "individual") { @("Bireysel") } else { @("Kurumsal") }</td>
                                <td>@item.nameSurname</td>
                                <td>@item.email</td>
                                <td>@item.phone</td>
                                <td class="text-right">
                                    <a href="@Url.Action("Edit", "AdminUsers", new { id = item.userID })" class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Düzenle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>