﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taxAdministration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxAdministration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorizedNameSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorizedNameSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nameSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
