﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Üye Bilgileri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-question-circle" aria-hidden="true"></i> @ViewBag.Title</h4>
        <div class="col-xs-12 col-sm-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.type)
                </dt>

                <dd>
                    @if (Model.type == "individual")
                    { 
                        @("Bireysel") 
                    } else{ 
                        @("Kurumsal") 
                    }
                </dd>
                @if (Model.type == "individual")
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.TCNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TCNumber)
                    </dd>
                } else {
                    <dt>
                        @Html.DisplayNameFor(model => model.taxAdministration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.taxAdministration)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.taxNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.taxNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.authorizedNameSurname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.authorizedNameSurname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.companyAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.companyAddress)
                    </dd>

                }
                <dt>
                    @Html.DisplayNameFor(model => model.nameSurname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nameSurname)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>

                <dd>
                    @Model.date.ToShortDateString() @Model.date.ToShortTimeString()
                </dd>
            </dl>

            <div class="form-group">
                    @if (Session["adminType"].ToString() == "Admin")
                    {
                        @Html.ActionLink("Bilgileri Düzenle", "Edit", new { id= Model.userID }, new { @class = "btn btn-default" });
                    }
            </div>
        </div>
    </div>
</div>

