﻿@model CaparKurye.Users

@{
    ViewBag.Title = "Üyeler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/public/js/formControl.js")
<script type="text/javascript">
    function passwordbar() {
        var password = $("#password").val().trim();
        var passwordbar = $(".passwordbar>span");
        var level = 3;

        if (password != "") {

            if (password.length < 6) {
                level--;
            }

            if (!password.match(/[^0-9]/g)) {
                level--;
            }

            if (!password.match(/[^a-zA-Z ğüşıöçĞÜŞİÖÇ.,]/g)) {
                level--;
            }
            if (level <= 0) { passwordbar.removeClass(); }
            if (level == 1) { passwordbar.removeClass().addClass("easy"); }
            if (level == 2) { passwordbar.removeClass().addClass("normal"); }
            if (level == 3) { passwordbar.removeClass().addClass("secure"); }
        }
        else {
            passwordbar.removeClass();
        }

    }

    function registerType(e) {
        var data = $(e).val();

        $(".registertype").hide();

        if (data == "corporate")
            $(".corporate").show();

        if (data == "individual")
            $(".individual").show();
    }

    function registerForm() {
        if (formControl("#registerContainer")) {

            $("#registerContainer").submit();

        }
        else {
            alertBox("Lütfen işaretli alanları doldurunuz.");
        }
    }

    function alertBox(text, bool = true) {
        var box = (bool == true) ? $("#alertBox") : $("#successBox");
        (bool == false) ? $("#alertBox").hide() : $("#successBox").hide();
        box.html(text).hide().fadeIn();
        if ($("body").scrollTop() > 0) {
            $("body").animate({ scrollTop: box.offset().top - 60 }, 500);
        }
    }
    $(document).ready(function () {
        $("input").each(function () { $(this).val($(this).val().trim()) });
        $("#type").val("@Model.type").selectpicker();
        registerType($("#type"));
    })

</script>



<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-bullhorn" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">


            <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "registerContainer", style = "border: none;padding: 25px;" }))
            {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.userID)
                    <div class="form-group">
                        <div id="alertBox" class="alert alert-danger" style="display:none;" role="alert"></div>
                        <div id="successBox" class="alert alert-success" style="display:none;" role="alert"></div>
                        @if (TempData["Message"] != null)
                        {
                        if ((int)TempData["code"] == 200)
                        {
                        <div class="alert alert-success">@TempData["Message"]</div>
                        }
                        else if ((int)TempData["code"] == 400)
                        {
                        <div class="alert alert-danger">@TempData["Message"]</div>
                        }
                        }
                    </div>
                    <input type="hidden" name="userID" value="@Model.userID" />
                    <div class="form-group">
                        <label>Üyelik Tipi</label>
                        <select class="form-control selectpicker" id="type" title="Seçim Yapınız" name="type" onchange="registerType(this)">
                            <option value="individual" selected="selected">Bireysel</option>
                            <option value="corporate">Kurumsal</option>
                        </select>
                    </div>

                    <!-- Bireysel -->
                    <div class="form-group registertype individual required">
                        @Html.LabelFor(model => model.TCNumber, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.TCNumber, new { htmlAttributes = new { @class = "form-control numberControl", @maxlength = "11" } })
                            @Html.ValidationMessageFor(model => model.TCNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Bireysel -->
                    <!-- Kurumsal -->
                    <div class="corporate registertype" style="display: none;">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.taxAdministration, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.taxAdministration, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.taxAdministration, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.taxNumber, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.taxNumber, new { htmlAttributes = new { @class = "form-control numberControl" } })
                                @Html.ValidationMessageFor(model => model.taxNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.authorizedNameSurname, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.authorizedNameSurname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.authorizedNameSurname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.companyAddress, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.companyAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.companyAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!-- Kurumsal -->

                    <div class="form-group required">
                        @Html.LabelFor(model => model.nameSurname, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.nameSurname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nameSurname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control numberControl", @maxlength = "11" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        <label>Şifre</label>
                        <input type="password" class="form-control" id="password" name="password" value="@Model.password" onkeypress="passwordbar()" onblur="passwordbar()" />
                        <div class="passwordbar">
                            <span></span>
                        </div>
                    </div>

                }
            </div>
            </div>
            <div class="clearfix"></div>


            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class="col-xs-6">
                    <div class="form-group pull-left">
                        <input type="button" onclick="registerForm()" value="Güncelle" class="btn btn-success" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group pull-right">
                        <div style="display:inline-block">
                            @using (Html.BeginForm("Delete", "AdminUsers", new { id = Model.userID }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Sil" class="btn btn-danger" />
                            }
                        </div>
                        @Html.ActionLink("Listeye Geri Dön", "Create", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>

                </div>

            </div>



    </div>
</div>
