﻿@model IEnumerable<CaparKurye.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Areas/Admin/Content/js/functions.js")
<script>
    function render(item) {
        var type = "";
        if (item.type == "individual") { type = "Bireysel"; } else { type ="Kurumsal" }
        return '<tr>'+
            '<td>' + type+'</td>'+
            '<td>'+item.nameSurname+'</td>'+
            '<td>'+item.email+'</td>'+
            '<td>' + item.phone + '</td>' +
            '<td>' + convertDate(item.date) + '</td>' +
            '</tr>';
    }
    $(function () {
        $("#search").keyup(function () {
            if ($("#search").val() != "") {
             $.ajax({
                type: "POST",
                url: "@Url.Action("SearchUser", "AdminUsers", new { Area = "Admin" }, Request.Url.Scheme)",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { search: $("#search").val() },
                success: function (d) {
                    if (d.code != 400) {
                        $("#usersArea").hide();
                        $("#searchArea").show();
                        $("#searchList").html("");
                        if (d.data.length == 0) {
                            $("#searchList").append("<tr><td class='text-center' colspan='5'>Hiç Sonuç Bulunamadı :(</td></tr>");
                        } else {
                            $.each(d.data, function () {
                                $("#searchList").append(render(this));
                            })
                        }
                    } else {
                        $("#alert").html(d.message).show();
                        setInterval(function () { location.reload() }, 3000);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
                });
            } else {
                $("#searchArea").hide();
                $("#usersArea").show();
            }
        })
    })
</script>

<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Kullanıcılar
            <div class="search pull-right">
                <span>
                    <div class="input-group">
                        <input id="search" type="search" class="form-control input-sm" placeholder="Arama yap..." />
                        <div class="input-group-addon btn"><div class="fa fa-search" aria-hidden="true"></div></div>
                    </div>
                </span>
            </div>
        </h4>

        <div class="col-xs-12 col-sm-12" id="searchArea" style="display:none">
            <h6 class="title"><span class="fa fa-columns" aria-hidden="true"></span> Arama Sonuçları</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Üyelik Tipi</td>
                            <td>Ad ve Soyad</td>
                            <td>E-posta</td>
                            <td>Telefon</td>
                            <td>Tarih</td>
                        </tr>
                    </thead>
                    <tbody id="searchList"></tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12" id="usersArea">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Üyelik Tipi</td>
                            <td>Ad ve Soyad</td>
                            <td>E-posta</td>
                            <td>Telefon</td>
                            <td>Tarih</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.type == "individual")
                                    { @("Bireysel") }
                                    else
                                    { @("Kurumsal") }
                                </td>
                                <td>@item.nameSurname</td>
                                <td>@item.email</td>
                                <td>@item.phone</td>
                                <td>@item.date.Value.ToShortDateString() @item.date.Value.ToShortTimeString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>