﻿@model CaparKurye.Admins

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Yöneticiler</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                if (TempData["Message"] != null)
                {
                    <div class="form-group" style="text-align: center;">
                        <div class="col-md-12">
                            <div class="alert alert-danger">@TempData["Message"]</div>
                        </div>
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.adminName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.adminType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <select class="form-control selectpicker" id="adminType" name="adminType" title="Seçim Yapınız">
                            <option value="Admin" selected="selected">Admin</option>
                            <option value="Asistan">Asistan</option>
                            <option value="Muhasebe">Muhasebe</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-success pull-left" />
                    </div>
                </div>

            }
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })
                </div>
            </div>

        </div>

    </div>
</div>

