﻿@model IEnumerable<CaparKurye.Couriers>

@{
    ViewBag.Title = "Özet Paneli";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
@Scripts.Render("~/Areas/Admin/Content/js/functions.js")
<script type="text/javascript">
    function dateChart() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCouriersByDate", "Admins", new { Area = "Admin" }, Request.Url.Scheme)",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { firstDate : $("#firstDate").val(), secondDate : $("#secondDate").val()},
                success: function (d) {
                    if (d.code != 400) {
                        $("#mostRequests").html("");
                        $.each(d.data.top3FromDistrict, function () {
                            $("#mostRequests").append(mostRequestHtml(this.fromDistrict, this.count));
                        })
                        var sablon = '<canvas id="genderChart" style="max-width:460px; margin: auto; margin:33px 0px; display: inline-block;"></canvas>';
                        $("#sablonContainer").html(sablon);

                        var ctx = document.getElementById("genderChart");
                        var postType = d.data.couriers.map(function (value, index) { return value.postType; });
                        var datas = d.data.couriers.map(function (value, index) { return value.count; });
                        var genderChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: postType,
                                datasets: [{
                                    data: datas,
                                    backgroundColor: [
                                        "#11a8ab",
                                        "#e64c65",
                                        "#fcb150",
                                        "#337ab7"
                                    ],
                                    hoverBackgroundColor: [
                                        "#0d8b8d",
                                        "#da3853",
                                        "#e89d3c",
                                        "#2e6da4"
                                    ]
                                }]
                            }
                        });
                    } else {
                        $("#alert").html(d.message).show();
                        setInterval(function () { location.reload() }, 3000);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });
    }
    var datasets = [{
        label: "",
        backgroundColor: "rgba(51,122,183,.4)",
        borderColor: "rgba(51,122,183,1)",
        borderWidth: 1,
        hoverBackgroundColor: "rgba(51,122,183,.7)",
        hoverBorderColor: "rgba(51,122,183,1)",
        responsive: true,
        data: [],
    },
    {
        label: "",
        backgroundColor: "rgba(17,168,171,.4)",
        borderColor: "rgba(17,168,171,1)",
        borderWidth: 1,
        hoverBackgroundColor: "rgba(17,168,171,.7)",
        hoverBorderColor: "rgba(17,168,171,1)",
        responsive: true,
        data: [],
    },
    {
        label: "",
        backgroundColor: "rgba(230,76,101,.4)",
        borderColor: "rgba(230,76,101,1)",
        borderWidth: 1,
        hoverBackgroundColor: "rgba(230,76,101,.7)",
        hoverBorderColor: "rgba(230,76,101,1)",
        responsive: true,
        data: [],
    },
    {
        label: "",
        backgroundColor: "rgba(67,76,67,.4)",
        borderColor: "rgba(67,76,67,1)",
        borderWidth: 1,
        hoverBackgroundColor: "rgba(67,76,67,.7)",
        hoverBorderColor: "rgba(67,76,67,1)",
        responsive: true,
        data: [],
    },
    {
        label: "",
        backgroundColor: "rgba(120,76,101,.4)",
        borderColor: "rgba(120,76,101,1)",
        borderWidth: 1,
        hoverBackgroundColor: "rgba(120,76,101,.7)",
        hoverBorderColor: "rgba(120,76,101,1)",
        responsive: true,
        data: [],
    }];
    var labels = ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"];
     function monthlyPayments() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetYearlyPayments", "Admins", new { Area = "Admin" }, Request.Url.Scheme)",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { year : $("#year").val()},
                success: function (d) {
                    if (d.code != 400) {
                        var paymentTypes = "";
                        var totalSum = 0;
                        $.each(d.data.PaymentSums,function (key,val) {
                            paymentTypes += '<div class="col-xs-12 col-sm-12" > <h3 class="boxbar"><span></span>' + val.Sum.toFixed(2) + ' TL <small>' + val.paymentType + '</small></h3></div >';
                            totalSum += val.Sum;
                        })
                        var total = '<div class="col-xs-12 col-sm-12"><h3 class="boxbar" style="background:#fbfbfb;">' + totalSum.toFixed(2) + ' TL <small>Toplam</small></h3></div>';
                        $("#sums").html(paymentTypes + total);
                        var datasetsNew = [];//todo açıklama yaz
                        $.each(d.data.paymentTypes, function (key, val) {
                            var data = [];
                            $.each(labels, function (key3, val3) {
                                var exists = 0;
                                $.each(d.data.yearlyPayments, function (key2, val2) {
                                    if (val2.month == (key3 + 1)) {
                                        $.each(val2.Payments, function (key4, val4) {
                                            if (val.paymentType == val4.paymentType) {
                                                data.push(val4.count)
                                                exists++;
                                            }
                                        });
                                        if (exists == 0) {
                                            data.push(0)
                                        }
                                        exists++;
                                    }
                                });
                                if (exists == 0) {
                                    data.push(0)
                                }
                            });
                            datasets[key].label = val.paymentType;
                            datasets[key].data = data;
                            datasetsNew.push(datasets[key])
                        });
                        var ctx = document.getElementById("incomeChart");
                        var incomeChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: datasetsNew
                            }
                        });
                    } else {
                        $("#alert").html(d.message).show();
                        setInterval(function () { location.reload() }, 3000);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });
    }
    var mostRequestHtml = function (key, val) {
        var count = @ViewBag.courierCount;
        return '<div class="bar-container"><h5>' + key + ' <small>' + val +' Gönderi</small></h5><div class="progress"> '+
            '<div class="progress-bar" role= "progressbar" aria- valuenow="' + val + '" aria- valuemin="0" aria- valuemax="100" style= "width: ' + (val*100/count) + '%;" ></div></div></div>';
    }
    $(document).ready(function () {
        dateChart();
        monthlyPayments();
        couriersList();
    });
    function couriersList() {
        var CountSum = 0;
        var TotalSum = 0;
        var TaxSum = 0;
        var CostSum = 0;
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCiroByDate", "Admins", new { Area = "Admin" }, Request.Url.Scheme)",
            content: "application/json; charset=utf-8",
        dataType: "json",
        data: { firstDate : $("#firstDateCiro").val(), secondDate : $("#secondDateCiro").val()},
        success: function (d) {
            if (d.code != 400) {
                $("#couriersList").html("");
                $.each(d.data.couriers, function () {
                    $("#couriersList").append(render(this));
                    CountSum += this.count;
                    TotalSum += this.totalCost;
                    TaxSum += this.tax;
                    CostSum += this.cost;
                })
                $("#CountSum").text( Math.round(CountSum*100)/100 +" Adet");
                $("#TotalSum").text(Math.round(TotalSum*100)/100 +" TL");
                $("#TaxSum").text(Math.round(TaxSum*100)/100 +" TL");
                $("#CostSum").text(Math.round(CostSum*100)/100 +" TL");

            } else {
                $("#alert").html(d.message).show();
                setInterval(function () { location.reload() }, 3000);
            }
        },
        error: function (xhr, textStatus, errorThrown) {
            // TODO: Show error
        }
    });
    }

    function render(item) {
        var status = "";
        var link = "'@Url.Action("Details", "Couriers")/" + item.courierID + "'";

        if (item.status == "Onaylandı") { status ="fa-check-circle"; }else if (item.status == "İptal") { status ="fa-times-circle" } else if (item.status == "Bekliyor") { status ="fa-exclamation-circle" }
        return '<tr style="cursor:pointer" onclick="location.href=' + link + '">'+
                    '<td>'+item.postType+'</td>'+
                    '<td>'+item.post+'</td>'+
                    '<td>' + item.paymentType + '</td>' +
                    '<td class="text-right">'+item.count +' Adet</td>'+
                    '<td class="text-right">'+item.cost +'₺</td>'+
                    '<td class="text-right">'+item.tax +'₺</td>'+
                    '<td class="text-right">'+item.totalCost +'₺</td>'+
                '</tr>';
    }
</script>
<style>
    .alertbox {
        min-height: 110px;
    }
</style>
<div class="col-xs-12 col-sm-12">
    <div id="alert" class="alert alert-danger" style="display:none;"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page">
                <h4 class="title"><i class="fa fa-area-chart" aria-hidden="true"></i> Genel Rapor</h4>

                <div class="col-xs-12 col-sm-12 col-md-12">

                    <br />
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="alert alert-danger alertbox col-sm-6">@ViewBag.cancelCount<br /><small>Kurye İptal Edildi</small></div>
                                <div class="alert alert-danger alertbox col-sm-6">@ViewBag.paymentCancelCount<br /><small>Ödeme iade Edildi</small></div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="alert alert-info alertbox col-sm-6">@ViewBag.waitingCount<br /><small>Kurye Bekliyor</small></div>
                                <div class="alert alert-info alertbox col-sm-6">@ViewBag.paymentWaitingCount<br /><small>Ödeme Bekliyor</small></div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="alert alert-success alertbox col-sm-6">@ViewBag.successCount<br /><small>Kurye Onaylandı</small></div>
                                <div class="alert alert-success alertbox col-sm-6">@ViewBag.paymentSuccessCount<br /><small>Ödeme Alındı</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6"><h3 class="boxbar">@ViewBag.individualCount <small>Bireysel Üye</small></h3></div>
                    <div class="col-xs-12 col-sm-6"><h3 class="boxbar">@ViewBag.corporateCount <small>Kurumsal Üye</small></h3></div>

                </div>


                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h6 class="title"><span class="fa fa-columns" aria-hidden="true"></span> En Çok Gönderi Yapan 5 Müşteri</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Müşteri</td>
                                    <td>Gönderi Sayısı</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var groupped = Model.GroupBy(item => item.Users.nameSurname, (key, g) => new { key = new { userID = g.FirstOrDefault().userID, nameSurname = g.FirstOrDefault().Users.nameSurname }, list = g }).OrderByDescending(a => a.list.Count());}
                                @foreach (var item in groupped)
                                {
                                    <tr>
                                        <td>@Html.Encode(item.key.nameSurname)</td>
                                        <td>@Html.Encode(item.list.Count())</td>
                                        <td class="text-right">
                                            <a href="@Url.Action("Details", "AdminUsers", new { id = item.key.userID })" class="btn btn-default btn-xs"> Müşteri Bilgileri</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">

            <div class="page">
                <h4 class="title">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> Gönderi Dağılımı

                    <div class="date pull-right">
                        <span><input id="firstDate" type="date" class="form-control input-sm" onchange="dateChart()" value="@DateTime.Now.ToString("yyyy-MM-")01" /></span>
                        <span><input id="secondDate" type="date" class="form-control input-sm" onchange="dateChart()" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></span>
                    </div>

                </h4>

                <div class="col-xs-12 col-sm-12 col-md-12">

                    <div class="text-center" id="sablonContainer">
                        
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h6 class="title"><i class="fa fa-map-marker" aria-hidden="true"></i> En Çok Gönderi Yapılan İlçe Sıralaması</h6>
                    <div class="table-responsive" style="max-height:180px">
                        <div id="mostRequests">
                        </div>
                    </div>
                    </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page">
                <h4 class="title">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> Yıllık Kazanç Grafiği

                    <select id="year" onchange="monthlyPayments()" class="form-control select">
                        @{ var year = DateTime.Now.Year; var count = 0;}
                        @foreach (var item in (List<int>)ViewBag.years)
                        {
                            if (year == item) { count++; }
                            <option value="@item">@item</option>
                        }
                        @if (count == 0)
                        {
                            <option value="@year" selected>@year</option>
                        }
                    </select>
                </h4>

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <canvas id="incomeChart" style="max-width:100%; margin: auto; margin-bottom:25px; display: inline-block;"></canvas>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-4">
                    <h6 class="title">&nbsp;</h6>
                    <span id="sums">

                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12">

            <div class="page">
                <h4 class="title">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> Ciro Raporu

                    <div class="date pull-right">
                        <span><input type="date" id="firstDateCiro" class="form-control input-sm" onchange="couriersList()" value="@DateTime.Now.ToString("yyyy-MM-")01" /></span>
                        <span><input type="date" id="secondDateCiro" class="form-control input-sm" onchange="couriersList()" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></span>
                    </div>

                </h4>


                <div class="col-xs-12 col-sm-12 col-md-12">

                    <div class="table-responsive" style="max-height:360px">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Gönderi Türü</td>
                                    <td>Gönderi Tipi</td>
                                    <td>Ödeme Şekli</td>
                                    <td class="text-right">Adet</td>
                                    <td class="text-right">Toplam</td>
                                    <td class="text-right">KDV</td>
                                    <td class="text-right">Genel Toplam</td>
                                </tr>
                            </thead>
                            <tbody id="couriersList"></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2">Toplam</th>
                                    <th></th>
                                    <th class="text-right" id="CountSum"></th>
                                    <th class="text-right" id="CostSum"></th>
                                    <th class="text-right" id="TaxSum"></th>
                                    <th class="text-right" id="TotalSum"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>