﻿@model CaparKurye.Admins

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

            <h4>Admins</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.adminName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.adminName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.date)
                </dd>

            </dl>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.adminID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>
            
</body>
</html>
