﻿@model CaparKurye.Admins

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        $("#adminType").val("@Html.Raw(Model.adminType)");
    });
</script>


<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Yöneticiler</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.adminName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.adminType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <select class="form-control selectpicker" id="adminType" name="adminType" title="Seçim Yapınız">
                            <option value="Admin">Admin</option>
                            <option value="Asistan">Asistan</option>
                            <option value="Muhasebe">Muhasebe</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <div class="form-group pull-left">
                        <input type="submit" value="Güncelle" class="btn btn-success" />
                    </div>
                </div>

            }
            <div class="col-xs-6 col-md-4">
                <div class="form-group pull-right">
                    <div style="display:inline-block">
                        @using (Html.BeginForm("Delete", "Admins", new { id = Model.adminType }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Sil" class="btn btn-danger" />
                        }
                    </div>
                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>

    </div>
</div>




