﻿@model IEnumerable<CaparKurye.Admins>

@{
    ViewBag.Title = "Yöneticiler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Yöneticiler</h4>
        <div class="col-xs-12 col-sm-12">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.adminName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.adminType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                    <th>
                        @if (Session["adminType"].ToString() == "Admin")
                        {
                            @Html.ActionLink("Yeni Ekle", "Create", new { }, new { @class = "btn btn-primary btn-xs pull-right" })
                        }
                    </th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.adminName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.adminType)
                        </td>
                        <td>
                            @item.date.ToShortDateString()
                        </td>

                        <td class="text-right">

                            @if (Session["adminType"].ToString() == "Admin")
                            {
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.adminID }, new { @class = "btn btn-warning btn-xs" })
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

