﻿@model CaparKurye.Admins

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Areas/Admin/Content/css/font-awesome.css")
    @Styles.Render("~/Areas/Admin/Content/css/bootstrap.min.css")
    @Styles.Render("~/Areas/Admin/Content/css/font-awesome.css")
    @Styles.Render("~/Areas/Admin/Content/css/animate.css")
    @Styles.Render("~/Areas/Admin/Content/css/style.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/Admin/Content/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/Areas/Admin/Content/js/bootstrap.min.js")
</head>
<body class="login background">

    <div class="panel">
        <h3>Yönetim Paneli</h3>
        <hr>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @if (TempData["Message"] != null)
                {
                    <div class="form-group" style="text-align: center;">
                        <div class="text-danger">@TempData["Message"]</div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.adminName, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Giriş Yap" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
