﻿@model CaparKurye.Admins

@{
    ViewBag.Title = "Profilim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    $("input").each(function () { $(this).val($(this).val().trim()); })
</script>
@if (TempData["Message"] != null)
{
    <div id="alertBox" class="alert alert-danger" role="alert">@TempData["Message"]</div>
}


<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-user-circle" aria-hidden="true"></i> Profilim</h4>

        <div class="form-horizontal" style="padding: 0px 15px;">
            <div class="col-md-offset-4 col-md-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.adminName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })
                    </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>

                <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-success pull-right" />
                </div>

            }</div>

        </div>

    </div>
</div>

