﻿@model CaparKurye.Faqs

@{
    ViewBag.Title = "Sıkça Sorulan Sorular";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-12">
    <div class="page">
        <h4 class="title"><i class="fa fa-bullhorn" aria-hidden="true"></i> @ViewBag.Title</h4>

        <div class="col-xs-12">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.question)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.question)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.answer)
                </dt>

                <dd>
                    @Html.Raw(@Model.answer)

                </dd>
            </dl>

            <div class="form-group pull-left">@Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn btn-default pull-right" })</div>

            @if (Session["adminType"].ToString() == "Admin")
            {
                    <div class="form-group pull-right">
                        @Html.ActionLink("Düzenle", "Edit", new { id = Model.faqID }, new { @class = "btn btn-primary" })
                    </div>
            }

        </div>

</div>
</div>