﻿@model IEnumerable<CaparKurye.Faqs>

@{
    ViewBag.Title = "Sıkça Sorulan Sorular";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-question-circle" aria-hidden="true"></i> @ViewBag.Title</h4>
        <div class="col-xs-12 col-sm-12">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.question)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th>
                        @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                        {
                            @Html.ActionLink("Yeni Ekle", "Create", new { }, new { @class = "btn btn-primary btn-xs pull-right" })
                        }
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.question)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td class="text-right">

                            @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                            {
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.faqID }, new { @class = "btn btn-warning btn-xs" })
                            }

                        </td>
                    </tr>
                }

            </table>

            </div>
        </div>
</div>
