﻿@model IEnumerable<CaparKurye.Notifications>

@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-sm-12">

    <div class="page">

        <h4 class="title"><i class="fa fa-bullhorn" aria-hidden="true"></i> @ViewBag.Title</h4>
        <div class="col-xs-12 col-sm-12">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.content)
                    </th>
                    <th>
                        @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                        {
                            @Html.ActionLink("Yeni Ekle", "Create", new { }, new { @class = "btn btn-primary btn-xs pull-right" })
                        }
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.content)
                        </td>

                        <td class="text-right">

                            @if (Session["adminType"].ToString() == "Admin" || Session["adminType"].ToString() == "Asistan")
                            {
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.notificationID }, new { @class = "btn btn-warning btn-xs" })
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>


