﻿@model CaparKurye.Settings

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Ayar Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkedin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instagram)
        </dd>

    </dl>
</div>
<p>
    @if (Session["adminType"].ToString() == "Admin")
    {
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.settingID }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Listeye Geri Dön", "Index", new object { }, new { @class = "btn btn-default" })
</p>
