﻿@model IEnumerable<CaparKurye.Settings>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Ayarlar</h2>

@if (Session["adminType"].ToString() == "Admin")
{
    <p>
        @Html.ActionLink("Yeni Ayar Oluştur", "Create", new { }, new { @class = "btn btn-success" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkedin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instagram)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.keyword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instagram)
        </td>
        <td>
            @if (Session["adminType"].ToString() == "Admin")
            {
                @Html.ActionLink("Düzenle", "Edit", new { id = item.settingID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Detay", "Details", new { id = item.settingID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Sil", "Delete", new { id = item.settingID }, new { @class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("Detay", "Details", new { id = item.settingID }, new { @class = "btn btn-default" })
            }
        </td>
    </tr>
}

</table>
